venta-digital/dist/components.html
<!DOCTYPE html>
<html lang="es" class="aui no-js">
  <head>
    <title>Interbank</title>
    <meta charset="utf-8">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    
    <link rel="stylesheet" href="assets/css-liferay/aui.css">
    <link rel="stylesheet" href="assets/css/jquery.jscrollpane.css">
    <link rel="stylesheet" href="assets/css/main.css?v=34">
    <link rel="stylesheet" href="assets/css/style.css?v=43">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <div class="lq-main">
      <div class="components">
        <h1 class="step-title"> <span class="step-title__re1">Tómate una foto <br></span>para validar tu identidad con <span class="step-title__re2">Reniec</span></h1>
        <h1 class="step-sub-title">¿Autorizas a <strong>Interbank </strong>el acceso a tu cámara?</h1>
        <div class="lq-tips">
          <h1 class="lq-tips__title">Tips para que tu foto salga bien:</h1>
          <div class="lq-tips__cont lq-clearfix">
            <div class="lq-tip"><img src="assets/images/laptop.png" alt="">
              <p>Asegurate que<br>aparezcas <strong>centrado<br>en la pantalla</strong></p>
            </div>
            <div class="lq-tip"><img src="assets/images/lentes.png" alt="">
              <p>Tómate la foto<br><strong>Sin Lentes</strong></p>
            </div>
            <div class="lq-tip"><img src="assets/images/dni.png" alt="">
              <p>Usa la misma<br>expresión que<br>en tu <strong>DNI</strong></p>
            </div>
          </div>
        </div>
        <div class="lq-line"></div>
        <div class="lq-button-group lq-btn-group-a"><a href="" class="lq-button">Si<i></i></a><a href="" class="lq-button">No<i></i></a></div>
        <div class="lq-messages lq-messages--a"><img src="assets/images/message-icon-a.png" alt="" class="lq-messages__icon">
          <div class="lq-messages__title">No podemos continuar</div>
          <div class="lq-messages__p">Para seguir el proceso necesitamos validar tu información con la Reniec y es necesario que te tomes una foto para poder seguir con la creación de tu<br><strong class="lq-messages__strong-a">Cuenta Simple </strong><strong class="lq-messages__strong-b">en Interbank</strong></div><a href="" class="lq-button i-left"><i></i>Regresar</a>
        </div>
        <div class="lq-messages lq-messages--b"><img src="assets/images/message-icon-a.png" alt="" class="lq-messages__icon">
          <div class="lq-messages__title">No podemos continuar</div>
          <div class="lq-messages__p">En estos momentos no podemos antender la solicitud para crear tu <br><strong class="lq-messages__strong-a">Cuenta Simple </strong><strong class="lq-messages__strong-b">en Interbank</strong></div><a href="" class="lq-button i-left"><i></i>Regresar</a>
        </div>
        <div class="lq-messages lq-messages--c"><img src="assets/images/message-icon-a.png" alt="" class="lq-messages__icon">
          <div class="lq-messages__title">Ups,</div>
          <div class="lq-messages__p">hemos tenido un problema validando tu foto con la Reniec, parece que has cambiado. Por favor acércate a una de nuestras tiendas para terminar el proceso y poder adquirir tu<br><strong class="lq-messages__strong-a">Cuenta Simple </strong><strong class="lq-messages__strong-b">en Interbank</strong></div>
          <div class="lq-line"></div>
          <div class="lq-messages__p">Ubica tu tienda Interbank más cercana</div><a href="" class="lq-button">Ubícalo aquí<i></i></a>
        </div>
        <div class="lq-messages lq-messages--d"><img src="assets/images/message-icon-b.png" alt="" class="lq-messages__icon">
          <div class="lq-messages__title"><strong>¡Estamos creando tu Cuenta!</strong></div>
          <div class="lq-messages__email">Te enviaremos un e-mail a<br><strong>marjorie.romero@gmail.com</strong></div>
          <div class="lq-messages__p">con toda la información de la apertura de tu Cuenta Simple</div>
          <div class="lq-line"></div>
          <div class="lq-messages__p"><strong>Recuerda recoger tu Tarjeta </strong>en cualquiera<br> de nuestras tiendas Interbank de 9:00 a.m. a 6:00 p.m.</div><a href="" class="lq-messages__link">Ubíca tu tienda más cercana aquí ></a>
        </div>
        <div class="lq-messages lq-messages--d"><img src="assets/images/message-icon-b.png" alt="" class="lq-messages__icon">
          <div class="lq-messages__title"><strong>¡Bienvenido a Interbank!</strong></div>
          <div class="lq-messages__email">Te enviaremos un e-mail a<br><strong>marjorie.romero@gmail.com</strong></div>
          <div class="lq-messages__p">con toda la información de la apertura de tu Cuenta Simple<br><strong>Nº 1234356789202223</strong></div>
          <div class="lq-line"></div>
          <div class="lq-messages__p"><strong>Recuerda recoger tu Tarjeta </strong>en cualquiera<br> de nuestras tiendas Interbank de 9:00 a.m. a 6:00 p.m.</div><a href="" class="lq-messages__link">Ubíca tu tienda más cercana aquí ></a>
        </div>
      </div>
    </div>
    <script src="assets/js/jquery-1.12.0.min.js"></script>
    <script src="assets/js/jquery.validate.js"></script>
    <script src="assets/js/jquery.alphanumeric.pack.js"></script>
    <script src="assets/js/jquery.jscrollpane.min.js"></script>
    <script src="assets/js/jquery.mousewheel.js"></script>
    <script src="assets/js/moment.min.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="assets/js/init.js?v=43"></script>
  </body>
</html>

venta-digital/src/jade/components.jade
extends _layout.jade
block content
	.components
		h1.step-title 
			span.step-title__re1 Tómate una foto <br>
			|para validar tu identidad con 
			span.step-title__re2 Reniec


		h1.step-sub-title ¿Autorizas a 
			strong Interbank 
			|el acceso a tu cámara?

		.lq-tips
			h1.lq-tips__title Tips para que tu foto salga bien:
			.lq-tips__cont.lq-clearfix
				.lq-tip
					img(src="assets/images/laptop.png", alt="")
					p Asegurate que<br>aparezcas 
						strong centrado<br>en la pantalla
				.lq-tip
					img(src="assets/images/lentes.png", alt="")
					p Tómate la foto<br>
						strong Sin Lentes
				.lq-tip
					img(src="assets/images/dni.png", alt="")
					p Usa la misma<br>expresión que<br>en tu 
						strong DNI


		.lq-line

		.lq-button-group.lq-btn-group-a
			a.lq-button(href="") Si
				i
			a.lq-button(href="") No
				i

		
		.lq-messages.lq-messages--a
			img.lq-messages__icon(src="assets/images/message-icon-a.png", alt="")
			.lq-messages__title
				|No podemos continuar
			.lq-messages__p
				|Para seguir el proceso necesitamos validar tu información con la Reniec y es necesario que te tomes una foto para poder seguir con la creación de tu<br>
				strong.lq-messages__strong-a Cuenta Simple 
				strong.lq-messages__strong-b en Interbank

			a.lq-button.i-left(href="")
				i
				|Regresar

		
		.lq-messages.lq-messages--b
			img.lq-messages__icon(src="assets/images/message-icon-a.png", alt="")
			.lq-messages__title
				|No podemos continuar
			.lq-messages__p
				|En estos momentos no podemos antender la solicitud para crear tu <br>
				strong.lq-messages__strong-a Cuenta Simple 
				strong.lq-messages__strong-b en Interbank

			a.lq-button.i-left(href="")
				i
				|Regresar


		.lq-messages.lq-messages--c
			img.lq-messages__icon(src="assets/images/message-icon-a.png", alt="")
			.lq-messages__title
				|Ups,
			.lq-messages__p
				|hemos tenido un problema validando tu foto con la Reniec, parece que has cambiado. Por favor acércate a una de nuestras tiendas para terminar el proceso y poder adquirir tu<br>
				strong.lq-messages__strong-a Cuenta Simple 
				strong.lq-messages__strong-b en Interbank
			.lq-line

			.lq-messages__p
				|Ubica tu tienda Interbank más cercana

			a.lq-button(href="")
				|Ubícalo aquí
				i


		.lq-messages.lq-messages--d
			img.lq-messages__icon(src="assets/images/message-icon-b.png", alt="")
			.lq-messages__title
				strong ¡Estamos creando tu Cuenta!
			.lq-messages__email
				|Te enviaremos un e-mail a<br>
				strong marjorie.romero@gmail.com
			.lq-messages__p
				|con toda la información de la apertura de tu Cuenta Simple
			.lq-line

			.lq-messages__p
				strong Recuerda recoger tu Tarjeta 
				|en cualquiera<br> de nuestras tiendas Interbank de 9:00 a.m. a 6:00 p.m.

			a.lq-messages__link(href="") Ubíca tu tienda más cercana aquí >

		.lq-messages.lq-messages--d
			img.lq-messages__icon(src="assets/images/message-icon-b.png", alt="")
			.lq-messages__title
				strong ¡Bienvenido a Interbank!
			.lq-messages__email
				|Te enviaremos un e-mail a<br>
				strong marjorie.romero@gmail.com
			.lq-messages__p
				|con toda la información de la apertura de tu Cuenta Simple<br>
				strong Nº 1234356789202223
			.lq-line

			.lq-messages__p
				strong Recuerda recoger tu Tarjeta 
				|en cualquiera<br> de nuestras tiendas Interbank de 9:00 a.m. a 6:00 p.m.

			a.lq-messages__link(href="") Ubíca tu tienda más cercana aquí >
				
