venta-digital/dist/html-02.html
<!DOCTYPE html>
<html lang="es" class="aui no-js">
  <head>
    <title>Interbank</title>
    <meta charset="utf-8">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    
    <link rel="stylesheet" href="assets/css-liferay/aui.css">
    <link rel="stylesheet" href="assets/css/jquery.jscrollpane.css">
    <link rel="stylesheet" href="assets/css/main.css?v=34">
    <link rel="stylesheet" href="assets/css/style.css?v=43">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <div class="lq-main">
      <header class="lq-header">
        <div class="lq-logo">
          <div class="lq-wrap"><img src="img/logo.png" alt="Interbank"></div>
        </div>
        <div class="lq-breadcrumb">
          <div class="lq-wrap"><i></i><a href="">Cuenta Simple</a></div>
        </div>
      </header>
      <main class="lq-content">
        <div class="lq-content-steps">
          <div class="lq-steps-header">
            <div class="lq-steps-header__info-cont">
              <h1 class="lq-steps-header__title-one">Tómate una Foto</h1>
              <p class="lq-steps-header__p-one">&nbsp;</p>
            </div>
            <div class="lq-steps-header__image-bar"></div>
          </div>
          <div class="lq-steps-position">
            <div class="lq-positions">
              <div class="lq-pos lq-pos-1 lq-pos-success">
                <div class="lq-pos__indicator">
                  <div class="lq-pos__num">
                    <div class="lq-pos__num-img">
                      <div class="lq-pos__num-digit">1</div>
                    </div>
                  </div>
                </div>
                <div class="lq-pos__txt">
                  <div class="lq-pos__line"></div>
                  <div class="lq-pos__txt-det">Regístrate</div>
                </div>
              </div>
              <div class="lq-pos lq-pos-2 lq-pos-current">
                <div class="lq-pos__indicator">
                  <div class="lq-pos__num">
                    <div class="lq-pos__num-img">
                      <div class="lq-pos__num-digit">2</div>
                    </div>
                  </div>
                </div>
                <div class="lq-pos__txt">
                  <div class="lq-pos__line"></div>
                  <div class="lq-pos__txt-det">Tómate una Foto</div>
                </div>
              </div>
              <div class="lq-pos lq-pos-3">
                <div class="lq-pos__indicator">
                  <div class="lq-pos__num">
                    <div class="lq-pos__num-img">
                      <div class="lq-pos__num-digit">3</div>
                    </div>
                  </div>
                </div>
                <div class="lq-pos__txt lq-pos__txt-alpha">
                  <div class="lq-pos__txt-det">Completa tus Datos</div>
                </div>
              </div>
            </div>
          </div>
          <div class="lq-steps-content lq-steps-content-a">
            <h1 class="step-title"> <span class="step-title__re1">Tómate una foto <br></span>para validar tu identidad con <span class="step-title__re2">RENIEC</span></h1>
            <p class="step-sub-title">¿Autorizas a <strong>Interbank </strong>el acceso a tu cámara?</p>
            <div class="lq-button-group lq-btn-group-a"><a href="" class="lq-button lq-button--small">Sí<i></i></a><a href="" class="lq-button lq-button--small lq-button--darker">No<i></i></a></div>
            <div class="lq-line"></div>
            <div class="lq-tips">
              <h1 class="lq-tips__title">Tips para que tu foto salga bien:</h1>
              <div class="lq-tips__cont lq-clearfix">
                <div class="lq-tip"><img src="assets/images/laptop.png" alt="">
                  <p>Asegúrate que<br>aparezcas <strong>centrado<br>en la pantalla</strong></p>
                </div>
                <div class="lq-tip"><img src="assets/images/lentes.png" alt="">
                  <p>Tómate la foto<br><strong>Sin Lentes</strong></p>
                </div>
                <div class="lq-tip"><img src="assets/images/dni.png" alt="">
                  <p>Usa la misma<br>expresión que<br>en tu <strong>DNI</strong></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="lq-footer">
        <div class="lq-foot">
          <div class="lq-foot-item lq-foot1">
            <div class="lq-foot-info">Si tienes dudas o consultas, contacta con nuestra banca <br>                telefónica, <strong>disponible las 24hrs.</strong></div>
          </div>
          <div class="lq-foot-item lq-foot2">
            <div class="lq-foot-info">Lima <strong>311 9000</strong></div>
          </div>
          <div class="lq-foot-item lq-foot2">
            <div class="lq-foot-info">Provincias <strong>0 801 00802</strong></div>
          </div>
        </div>
        <div class="lq-copy">
          <div class="lq-wrap">
            "La empresa tiene la obligación de difundir información de conformidad con la Ley N° 28587 y el 
            Reglamento de Transparencia de Información y Disposiciones <br>                Aplicables a la Contratación con Usuarios del Sistema Financiero, aprobado mediante Resolución SBS N° 8181-2012."<br>                © Copyright 2013 - Todos los derechos reservados
          </div>
        </div>
      </footer>
    </div>
    <script src="assets/js/jquery-1.12.0.min.js"></script>
    <script src="assets/js/jquery.validate.js"></script>
    <script src="assets/js/jquery.alphanumeric.pack.js"></script>
    <script src="assets/js/jquery.jscrollpane.min.js"></script>
    <script src="assets/js/jquery.mousewheel.js"></script>
    <script src="assets/js/moment.min.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="assets/js/init.js?v=43"></script>
  </body>
</html>

venta-digital/src/jade/html-02.jade
extends _layout.jade
block content
	include ./components/_header.jade
	main.lq-content
		.lq-content-steps
			.lq-steps-header
				.lq-steps-header__info-cont
					h1.lq-steps-header__title-one Tómate una Foto
					p.lq-steps-header__p-one &nbsp;
				.lq-steps-header__image-bar
			include ./components/_pasos.jade

			.lq-steps-content.lq-steps-content-a

				h1.step-title 
					span.step-title__re1 Tómate una foto <br>
					|para validar tu identidad con 
					span.step-title__re2 RENIEC


				p.step-sub-title ¿Autorizas a 
					strong Interbank 
					|el acceso a tu cámara?

				.lq-button-group.lq-btn-group-a
					a.lq-button.lq-button--small(href="") Sí
						i
					a.lq-button.lq-button--small.lq-button--darker(href="") No
						i

				.lq-line

				.lq-tips
					h1.lq-tips__title Tips para que tu foto salga bien:
					.lq-tips__cont.lq-clearfix
						.lq-tip
							img(src="assets/images/laptop.png", alt="")
							p Asegúrate que<br>aparezcas 
								strong centrado<br>en la pantalla
						.lq-tip
							img(src="assets/images/lentes.png", alt="")
							p Tómate la foto<br>
								strong Sin Lentes
						.lq-tip
							img(src="assets/images/dni.png", alt="")
							p Usa la misma<br>expresión que<br>en tu 
								strong DNI




	include ./components/_footer.jade
