venta-digital/src/jade/html-09.jade
extends _layout.jade
block content
	include ./components/_header.jade
	main.lq-content
		.lq-content-steps
			.lq-steps-header
				.lq-steps-header__info-cont
					h1.lq-steps-header__title-one Tómate una Foto
					p.lq-steps-header__p-one &nbsp;
				.lq-steps-header__image-bar

			.lq-steps-content.lq-steps-content-camera
				.lq-camera_doc-info
						|Tu número de DNI es: 44554455
				.lq-camera

					.lq-camera-image
						.lq-face-guide-layer
						img(src="assets/images/foto.jpg", alt="")
					.lq-cargar-foto-group
						button.lq-button.lq-button--noarrow.lq-tomar-foto Tomar foto
						.lq-cargar-foto-group__enviar
							input.lq-button.lq-enviar-foto(type="submit", value="Enviar")
							a.lq-volver-tomar-foto(href="#") Volver a tomar foto
					.lq-camera-error Por favor vuelve a cargar la imagen

				p.p03 *Recuerda que tu foto tiene que ser lo más parecida a la foto de tu DNI.


	include ./components/_footer.jade

venta-digital/dist/html-09.html
<!DOCTYPE html>
<html lang="es" class="aui no-js">
  <head>
    <title>Interbank</title>
    <meta charset="utf-8">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    
    <link rel="stylesheet" href="assets/css-liferay/aui.css">
    <link rel="stylesheet" href="assets/css/jquery.jscrollpane.css">
    <link rel="stylesheet" href="assets/css/main.css?v=34">
    <link rel="stylesheet" href="assets/css/style.css?v=43">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <div class="lq-main">
      <header class="lq-header">
        <div class="lq-logo">
          <div class="lq-wrap"><img src="img/logo.png" alt="Interbank"></div>
        </div>
        <div class="lq-breadcrumb">
          <div class="lq-wrap"><i></i><a href="">Cuenta Simple</a></div>
        </div>
      </header>
      <main class="lq-content">
        <div class="lq-content-steps">
          <div class="lq-steps-header">
            <div class="lq-steps-header__info-cont">
              <h1 class="lq-steps-header__title-one">Tómate una Foto</h1>
              <p class="lq-steps-header__p-one">&nbsp;</p>
            </div>
            <div class="lq-steps-header__image-bar"></div>
          </div>
          <div class="lq-steps-content lq-steps-content-camera">
            <div class="lq-camera_doc-info">Tu número de DNI es: 44554455</div>
            <div class="lq-camera">
              <div class="lq-camera-image">
                <div class="lq-face-guide-layer"></div><img src="assets/images/foto.jpg" alt="">
              </div>
              <div class="lq-cargar-foto-group">
                <button class="lq-button lq-button--noarrow lq-tomar-foto">Tomar foto</button>
                <div class="lq-cargar-foto-group__enviar">
                  <input type="submit" value="Enviar" class="lq-button lq-enviar-foto"><a href="#" class="lq-volver-tomar-foto">Volver a tomar foto</a>
                </div>
              </div>
              <div class="lq-camera-error">Por favor vuelve a cargar la imagen</div>
            </div>
            <p class="p03">*Recuerda que tu foto tiene que ser lo más parecida a la foto de tu DNI.</p>
          </div>
        </div>
      </main>
      <footer class="lq-footer">
        <div class="lq-foot">
          <div class="lq-foot-item lq-foot1">
            <div class="lq-foot-info">Si tienes dudas o consultas, contacta con nuestra banca <br>                telefónica, <strong>disponible las 24hrs.</strong></div>
          </div>
          <div class="lq-foot-item lq-foot2">
            <div class="lq-foot-info">Lima <strong>311 9000</strong></div>
          </div>
          <div class="lq-foot-item lq-foot2">
            <div class="lq-foot-info">Provincias <strong>0 801 00802</strong></div>
          </div>
        </div>
        <div class="lq-copy">
          <div class="lq-wrap">
            "La empresa tiene la obligación de difundir información de conformidad con la Ley N° 28587 y el 
            Reglamento de Transparencia de Información y Disposiciones <br>                Aplicables a la Contratación con Usuarios del Sistema Financiero, aprobado mediante Resolución SBS N° 8181-2012."<br>                © Copyright 2013 - Todos los derechos reservados
          </div>
        </div>
      </footer>
    </div>
    <script src="assets/js/jquery-1.12.0.min.js"></script>
    <script src="assets/js/jquery.validate.js"></script>
    <script src="assets/js/jquery.alphanumeric.pack.js"></script>
    <script src="assets/js/jquery.jscrollpane.min.js"></script>
    <script src="assets/js/jquery.mousewheel.js"></script>
    <script src="assets/js/moment.min.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="assets/js/init.js?v=43"></script>
  </body>
</html>
