venta-digital-b/src/jade/html-01.jade
extends _layout.jade
block content
	include ./components/_header.jade
	main.lq-content
		.lq-alpha-content.lq-alpha-content--v1.lq-cols.lq-clearfix

			.lq-col.lq-col-50p
				.lq-bg-one
			
				
			.lq-col.lq-col-50p

				.lq-form-info
					h1.lq-main-title ¿Solicita tu<br>
						strong.lq-main-title__bold--alpha Tarjeta de Crédito<br>
						strong.lq-main-title__bold--betha de Interbank?

					p.lq-basic-text Regístrate y obtenla fácilmente.
				
					form.lq-form-template.lq-validate-form.lq-form-step-01(action="http://interbank.com.pe/guardar", data-form="validate", data-captcha="true")
						.lq-form-template__row
							span.lq-form-template__green-line
							input.lq-form-template__field(type="tel", name="documento",id="documento", placeholder="Número de DNI", data-error="documento", data-form="rule", data-alpha="numeric", maxlength="8")
							span.form_error_message(class="form_error_message_documento")

						.lq-form-template__row
							span.lq-form-template__green-line
							input.lq-form-template__field(type="text", name="correo",id="correo", placeholder="Correo", data-error="correo", data-form="rule", data-alpha="email", maxlength="200")
							span.form_error_message(class="form_error_message_correo")

							
						.lq-form-template__row
							span.lq-form-template__green-line
							.lq-form-template-col-phone
								.lq-form-template-col-phone__a
									select.lq-form-template__field(name="operador",id="operador", data-error="operador", data-form="rule")
										option(value="", disabled="", selected="") Operador
										option(value="01") Movistar
										option(value="02") Claro
										option(value="03") Entel
										option(value="03") Otros
									span.form_error_message(class="form_error_message_operador")
								.lq-form-template-col-phone__b
									input.lq-form-template__field(type="tel", name="celular",id="celular", placeholder="Celular", data-error="celular", data-alpha="numeric", maxlength="9")
									span.form_error_message(class="form_error_message_celular")

						.lq-form-template__row
							label.lq-form-template__label-for-checkbox
								input(type="checkbox", name="terminos", id="terminos", data-error="terminos")
								|He leído y acepto la 
								a(href="/tratamiento-de-datos-personales", target="_blank") Política de tratamiento de Protección de datos personales.

							span.form_error_message(class="form_error_message_terminos")
						
						.lq-form-template__row
							.lq-recaptcha-container#recaptcha-container
								//- |<div class="g-recaptcha" data-sitekey="6LeuwwkUAAAAAMYQU_avAedus7eJowLAkXa0fIP2"></div>
							span.form_error_message(class="form_error_message_captcha")
								span

						.lq-form-template__row
							button.lq-btn.lq-btn--one.lq-send-form-01(type='button', data-form="submit")
								| Siguiente
							//- a.lq-button.lq-send-form-01(href="#",type='button', data-form="submit")
							//- 	| Siguiente
							//- 	i
							//- button.lq-button.lq-button--small.lq-send-form-01(type='button', data-form="submit")
							//- 	| Siguiente
							//- 	i
							//- a.lq-button.lq-button--small.lq-send-form-01(href="#",type='button', data-form="submit")
								| Siguiente
								i
							.loading-gif(data-form="loading")
								img(src="assets/images/loading.gif", alt="")

						.lq-form-template__row
							p.lq-basic-text.lq-basic-text--alert 
								|En el siguiente paso necesitarás una 
								strong cámara web 
								|para reconocerte.

	include ./components/_footer.jade



	//- .lq-parent
	//- 	.lq-input
	//- 		input#inumdoc(type="text", name="inumdoc", data-valid="dni", maxlength="8", data-holder="Número de DNI")
	//- 	span.lq-msgvalid
	//- 		| Ingresa tu DNI
	//- .lq-parent
	//- 	.lq-input
	//- 		input#iemail(type='text', name='iemail', data-valid='email', data-holder='Correo')
	//- 	span.lq-msgvalid
	//- 		| Ingresa tu e-mail
	//- .lq-parent
		.lq-input.lq-number
			input#itelefono(type='text', name='itelefono', data-valid='celu', data-holder='Celular', maxlength='9')
		span.lq-msgvalid
			| Ingresa tu celular


	//- .lq-item
		.lq-check
			input#iterminos(type='checkbox', name='iterminos', data-valid='required')
		label.lq-label(for='iterminos')
			| Acepto los 
			|He leído y acepto la 
			a(href='#') Política de tratamiento de Protección de datos personales.
		span.lq-msgvalid Debes aceptar los términos y condiciones
	//- .lq-div-alert  

venta-digital-b/dist/html-01.html
<!DOCTYPE html>
<html lang="es" class="aui no-js">
  <head>
    <title>Interbank</title>
    <meta charset="utf-8">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    
    <link rel="stylesheet" href="assets/css-liferay/aui.css">
    <link rel="stylesheet" href="assets/css/jquery.jscrollpane.css">
    <link rel="stylesheet" href="assets/css/main.css?v=46456">
    <link rel="stylesheet" href="assets/css/style.css?v=6566">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <div class="lq-main">
      <header class="lq-header">
        <div class="lq-logo">
          <div class="lq-wrap"><img src="img/logo.png" alt="Interbank"></div>
        </div>
        <div class="lq-breadcrumb">
          <div class="lq-wrap"><i></i><a href="">Cuenta Simple</a></div>
        </div>
      </header>
      <main class="lq-content">
        <div class="lq-alpha-content lq-alpha-content--v1 lq-cols lq-clearfix">
          <div class="lq-col lq-col-50p">
            <div class="lq-bg-one"></div>
          </div>
          <div class="lq-col lq-col-50p">
            <div class="lq-form-info">
              <h1 class="lq-main-title">¿Solicita tu<br><strong class="lq-main-title__bold--alpha">Tarjeta de Crédito<br></strong><strong class="lq-main-title__bold--betha">de Interbank?</strong></h1>
              <p class="lq-basic-text">Regístrate y obtenla fácilmente.</p>
              <form action="http://interbank.com.pe/guardar" data-form="validate" data-captcha="true" class="lq-form-template lq-validate-form lq-form-step-01">
                <div class="lq-form-template__row"><span class="lq-form-template__green-line"></span>
                  <input type="tel" name="documento" id="documento" placeholder="Número de DNI" data-error="documento" data-form="rule" data-alpha="numeric" maxlength="8" class="lq-form-template__field"><span class="form_error_message form_error_message_documento"></span>
                </div>
                <div class="lq-form-template__row"><span class="lq-form-template__green-line"></span>
                  <input type="text" name="correo" id="correo" placeholder="Correo" data-error="correo" data-form="rule" data-alpha="email" maxlength="200" class="lq-form-template__field"><span class="form_error_message form_error_message_correo"></span>
                </div>
                <div class="lq-form-template__row"><span class="lq-form-template__green-line"></span>
                  <div class="lq-form-template-col-phone">
                    <div class="lq-form-template-col-phone__a">
                      <select name="operador" id="operador" data-error="operador" data-form="rule" class="lq-form-template__field">
                        <option value="" disabled="" selected="">Operador</option>
                        <option value="01">Movistar</option>
                        <option value="02">Claro</option>
                        <option value="03">Entel</option>
                        <option value="03">Otros</option>
                      </select><span class="form_error_message form_error_message_operador"></span>
                    </div>
                    <div class="lq-form-template-col-phone__b">
                      <input type="tel" name="celular" id="celular" placeholder="Celular" data-error="celular" data-alpha="numeric" maxlength="9" class="lq-form-template__field"><span class="form_error_message form_error_message_celular"></span>
                    </div>
                  </div>
                </div>
                <div class="lq-form-template__row">
                  <label class="lq-form-template__label-for-checkbox">
                    <input type="checkbox" name="terminos" id="terminos" data-error="terminos">He leído y acepto la <a href="/tratamiento-de-datos-personales" target="_blank">Política de tratamiento de Protección de datos personales.</a>
                  </label><span class="form_error_message form_error_message_terminos"></span>
                </div>
                <div class="lq-form-template__row">
                  <div id="recaptcha-container" class="lq-recaptcha-container">
                  </div><span class="form_error_message form_error_message_captcha"><span></span></span>
                </div>
                <div class="lq-form-template__row">
                  <button type="button" data-form="submit" class="lq-btn lq-btn--one lq-send-form-01">Siguiente</button>
                  <div data-form="loading" class="loading-gif"><img src="assets/images/loading.gif" alt=""></div>
                </div>
                <div class="lq-form-template__row">
                  <p class="lq-basic-text lq-basic-text--alert">
                     
                    En el siguiente paso necesitarás una <strong>cámara web </strong>para reconocerte.
                  </p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </main>
      <footer class="lq-footer">
        <div class="lq-foot">
          <div class="lq-foot-item lq-foot1">
            <div class="lq-foot-info">Si tienes dudas o consultas, contacta con nuestra banca <br>                telefónica, <strong>disponible las 24hrs.</strong></div>
          </div>
          <div class="lq-foot-item lq-foot2">
            <div class="lq-foot-info">Lima <strong>311 9000</strong></div>
          </div>
          <div class="lq-foot-item lq-foot2">
            <div class="lq-foot-info">Provincias <strong>0 801 00802</strong></div>
          </div>
        </div>
        <div class="lq-copy">
          <div class="lq-wrap">
            "La empresa tiene la obligación de difundir información de conformidad con la Ley N° 28587 y el 
            Reglamento de Transparencia de Información y Disposiciones <br>                Aplicables a la Contratación con Usuarios del Sistema Financiero, aprobado mediante Resolución SBS N° 8181-2012."<br>                © Copyright 2013 - Todos los derechos reservados
          </div>
        </div>
      </footer>
    </div>
    <script src="assets/js/jquery-1.12.0.min.js"></script>
    <script src="assets/js/jquery.validate.js"></script>
    <script src="assets/js/jquery.alphanumeric.pack.js"></script>
    <script src="assets/js/jquery.jscrollpane.min.js"></script>
    <script src="assets/js/jquery.mousewheel.js"></script>
    <script src="assets/js/moment.min.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="assets/js/init.js?v=4534534"></script>
  </body>
</html>
