venta-digital-b/src/jade/html-10.jade
extends _layout.jade
block content
	include ./components/_header.jade
	main.lq-content.lq-content-form
		.lq-content-steps
			.lq-steps-header
				.lq-steps-header__info-cont
					h1.lq-steps-header__title-one Completa tus datos
					p.lq-steps-header__p-one y revisa las condiciones
				.lq-steps-header__image-bar

			.lq-steps-position
				.lq-positions
					.lq-pos.lq-pos-1.lq-pos-success
						.lq-pos__indicator
							.lq-pos__num
								.lq-pos__num-img
									.lq-pos__num-digit 1
						.lq-pos__txt
							.lq-pos__line
							.lq-pos__txt-det Regístrate
					.lq-pos.lq-pos-2.lq-pos-success
						.lq-pos__indicator
							.lq-pos__num
								.lq-pos__num-img
									.lq-pos__num-digit 2
						.lq-pos__txt
							.lq-pos__line
							.lq-pos__txt-det Tómate una Foto
					.lq-pos.lq-pos-3.lq-pos-current
						.lq-pos__indicator
							.lq-pos__num
								.lq-pos__num-img
									.lq-pos__num-digit 3
						.lq-pos__txt.lq-pos__txt-alpha
							.lq-pos__txt-det Completa tus Datos

			.lq-steps-content
				.lq-form
					.lq-form__header
						h1.lq-form__title Hola Marjorie Romero,
						p.lq-form__p Faltan solo algunos datos para que tengas tu 
							strong.lq-cs-blue.lq-semibold Cuenta Simple 
							strong.lq-cs-green.lq-semibold Interbank.
					

					.lq-form__fields.lq-dinamic

						.lq-dinamic-scroll
							.lq-dinamic-scroll__ball
							//- .lq-dinamic-scroll__static-ball
							.lq-dinamic-scroll__animated-ball
							.lq-dinamic-scroll__bar


						form.lq-form-template.lq-validate-form.lq-dinamic__form(action="http://interbank.com.pe/guardar", data-form="validate", data-captcha="false")

							

							.lq-form-template__fields-group
								.lq-form-template__fields-group-title
									span Datos personales


								.lq-form-template__row.lq-dinamic__ref
									span.lq-form-template__green-line
									input.lq-form-template__field(type="text", name="correo",id="correo", placeholder="Correo", data-error="correo", data-form="rule", data-alpha="email", maxlength="200", value="mariaelena@gmail.com")
									span.form_error_message(class="form_error_message_correo")

								.lq-form-template__row.lq-dinamic__ref
									span.lq-form-template__green-line
									input.lq-form-template__field(type="text", name="correo_val",id="correo_val", placeholder="Confirma tu correo electrónico", data-error="correo_val", data-form="rule", data-alpha="email", maxlength="200")
									span.form_error_message(class="form_error_message_correo_val")

								.lq-form-template__row.lq-dinamic__ref
									span.lq-form-template__green-line
									input.lq-form-template__field(type="text", name="direccion",id="direccion", placeholder="Dirección", data-error="direccion", data-form="rule", data-alpha="alphanumeric", maxlength="200")
									span.form_error_message(class="form_error_message_direccion")


								.lq-form-template__row.lq-dinamic__ref
									.lq-form-template__cols.lq-clearfix
										.lq-form-template__col.lq-form-template__col40
											span.lq-form-template__green-line
											select.lq-form-template__field(name="idDepartamento",id="idDepartamento", data-error="idDepartamento", data-form="rule")
												option(value="", disabled="", selected="") Departamento
												option(value="01") Lima
												option(value="02") Junin
											span.form_error_message(class="form_error_message_idDepartamento")

										.lq-form-template__col.lq-form-template__col30
											select.lq-form-template__field(name="idProvincia",id="idProvincia", data-error="idProvincia", data-form="rule")
												option(value="", disabled="", selected="") Provincia
												option(value="enero") Lima
												option(value="febreri") Arequipa
											span.form_error_message(class="form_error_message_idProvincia")

										.lq-form-template__col.lq-form-template__col30
											select.lq-form-template__field(name="idDistrito",id="idDistrito", data-error="idDistrito", data-form="rule")
												option(value="", disabled="", selected="") Distrito
												option(value="1980") Barranco
												option(value="1981") San Isidro
											span.form_error_message(class="form_error_message_idDistrito")
							

							.lq-form-template__fields-group

								.lq-form-template__row.lq-dinamic__ref
									label.lq-form-template__label Fecha de nacimiento
									.lq-form-template__cols.lq-clearfix
										.lq-form-template__col.lq-form-template__col30
											span.lq-form-template__green-line
											select.lq-form-template__field(name="day",id="day", data-error="day", data-form="rule")
												option(value="", disabled="", selected="") Día
												- for (var x = 1; x <= 9; x++)
													option(value="0#{x}") 0
														= x
												- for (var x = 10; x <= 31; x++)
													option(value="#{x}")= x
											span.form_error_message(class="form_error_message_day")

										.lq-form-template__col.lq-form-template__col40
											select.lq-form-template__field(name="month",id="month", data-error="month", data-form="rule")
												option(value="", disabled="", selected="") Mes
												option(value="01") Enero
												option(value="02") Febrero
												option(value="03") Marzo
												option(value="04") Abril
												option(value="05") Mayo
												option(value="06") Junio
												option(value="07") Julio
												option(value="08") Agosto
												option(value="09") Setiembre
												option(value="10") Octubre
												option(value="11") Noviembre
												option(value="12") Diciembre

											span.form_error_message(class="form_error_message_month")

										.lq-form-template__col.lq-form-template__col30
											select.lq-form-template__field(name="year",id="year", data-error="year", data-form="rule")
												option(value="", disabled="", selected="") Año
												- for (var x = 1980; x < 2000; x++)
													option(value="#{x}")= x
											span.form_error_message(class="form_error_message_year")
										
										.lq-hide-field
											input(type="text", name="fechaOculta",id="fechaOculta", data-error="fechaOculta", data-form="rule", value="0")
										span.form_error_message(class="form_error_message_fechaOculta")

								.lq-form-template__row.lq-dinamic__ref
									.lq-form-template__cols.lq-clearfix
										.lq-form-template__col.lq-form-template__col50
											span.lq-form-template__green-line
											select#sexo.lq-form-template__field(name='sexo', data-error='sexo', data-form='rule')
												option(value='', disabled='', selected='') Sexo
												option(value='Masculino') Masculino
												option(value='Femenino') Femenino
											span.form_error_message.form_error_message_sexo
										.lq-form-template__col.lq-form-template__col50
											input#descEstadoCivil(type='hidden', name='descEstadoCivil')
											select#estadocivil.lq-form-template__field(name='estadocivil', data-error='estadocivil', data-form='rule')
												option(value='', disabled='', selected='') Estado Civil
												option(value='1') Soltero
												option(value='2') Casado
												option(value='3') Divorciado
												option(value='4') Viudo
											span.form_error_message.form_error_message_estadocivil
								




							.lq-form-template__fields-group
								.lq-form-template__fields-group-title
									span Datos laborales
								.lq-form-template__row.lq-dinamic__ref
									span.lq-form-template__green-line
									input.lq-form-template__field(type="text", name="ocupacion",id="ocupacion", placeholder="Ocupación", data-error="ocupacion", data-form="rule", data-alpha="text", maxlength="200")
									span.form_error_message(class="form_error_message_ocupacion")

									
								.lq-form-template__row.lq-dinamic__ref
									span.lq-form-template__green-line
									input.lq-form-template__field(type="text", name="empresa",id="empresa", placeholder="Empresa en la que trabajas", data-error="empresa", data-alpha="alphanumeric", maxlength="100")
									span.form_error_message(class="form_error_message_empresa")

							.lq-form-template__fields-group
								.lq-form-template__fields-group-title
									span Moneda
								.lq-form-template__row.lq-dinamic__ref
									label.lq-form-template__label ¿En qué moneda quieres aperturar tu cuenta?
									.lq-form-template__cols.lq-clearfix
										span.lq-form-template__green-line
										span.lq-form-template__select-arrow
										select.lq-form-template__field(name="moneda",id="moneda", data-error="moneda", data-form="rule")
											option(value="", disabled="", selected="") Selecciona la moneda
											option(value="soles") Soles
											option(value="dolares") Dólares
										span.form_error_message(class="form_error_message_moneda")


							.lq-form-template__row
								button.lq-button.lq-button--small.lq-send-form-02(type='button', data-form="submit")
									| Ver términos y condiciones
									i
								.loading-gif(data-form="loading")
									img(src="assets/images/loading.gif", alt="")


	.lq-content-contrac-wrapper
		main.lq-content.lq-content-contract
			.lq-content-steps
				.lq-steps-header
					.lq-steps-header__info-cont
						h1.lq-steps-header__title-one Revisa las condiciones
						p.lq-steps-header__p-one y crea tu cuenta
					.lq-steps-header__image-bar


				.lq-steps-position
					.lq-positions
						.lq-pos.lq-pos-1.lq-pos-success
							.lq-pos__indicator
								.lq-pos__num
									.lq-pos__num-img
										.lq-pos__num-digit 1
							.lq-pos__txt
								.lq-pos__line
								.lq-pos__txt-det Regístrate
						.lq-pos.lq-pos-2.lq-pos-success
							.lq-pos__indicator
								.lq-pos__num
									.lq-pos__num-img
										.lq-pos__num-digit 2
							.lq-pos__txt
								.lq-pos__line
								.lq-pos__txt-det Tómate una Foto
						.lq-pos.lq-pos-3.lq-pos-current
							.lq-pos__indicator
								.lq-pos__num
									.lq-pos__num-img
										.lq-pos__num-digit 3
							.lq-pos__txt.lq-pos__txt-alpha
								.lq-pos__txt-det Completa tus Datos
						

				.lq-steps-content.lq-steps-content-legal
				
					.lq-legal-title Por favor revisa los Términos y condiciones de tu 
						strong.s-a Cuenta Simple 
						strong.s-b Interbank.


					.lq-legal
						.lq-legal__scroll-container.scroll-pane
							.lq-legal__content
								article
									h2 Términos y condiciones Cuenta Simple

									p.
										1.- El Cliente podrá adquirir y/o contratar diferentes productos y servicios financieros a través de los canales que Interbank ponga a su disposición.<br>
										2.- El Cliente manifiesta su aceptación a través de un clic, la clave secreta, clave dinámica y/o cualquier otro medio de autenticación que complemente y/o reemplace dichas claves, así como de mecanismos que impliquen la manifestación de voluntad de aceptación del Cliente. <br>
										3.- El Cliente entiende que el proceso y/o los mecanismos de aceptación establecidos por Interbank en el presente canal virtual, han sido claros y le han permitido manifestar su aceptación voluntaria, libre y expresa, habiendo podido despejar las dudas que hubiera podido tener.<br>
										4.- El Cliente declara haber tomado conocimiento de las principales características comerciales del producto Cuenta Simple, así como del proceso de ofrecimiento del mismo, el cual ha sido presentado a través de los canales de Interbank; el cual implica además, el recojo físico de la Tarjeta de Débito Interbank en la red de tiendas Interbank a nivel nacional.<br>
										5.- El Cliente confirma su voluntad de recibir el Contrato de Depósitos para Persona Natural y la Cartilla de Información Cuenta Simple al correo electrónico registrado al momento de iniciar este proceso de compra digital.<br>
										6.- El Cliente conoce su obligación de mantener actualizados sus datos personales.<br>

									h2 Beneficios y condiciones
									ul
										li Por ventanilla: 2 depósitos y 1 retiro
										li Por cajeros Global Net: 2 retiros 
										li Por cajeros Plus Global Net: 2 retiros y depósitos ilimitados 
										li La Cuenta Simple está sujeta a una comisión interplaza del 0.50% por operación. La comisión interplaza se aplica cuando realizas transacciones fuera de la provincia donde abriste la cuenta.
										li Por operación adicional en ventanilla se cobrará S/.8 / $3 y por operación adicional en cajeros Global Net S/.2 / $0.70.
										li Por Interbank Agente depósitos y retiros ilimitados. 
										li No necesita monto mínimo de apertura. 
										li Además, no le cobra mantenimiento.

									h2 Beneficios y condiciones
									p 
										strong Soles: TEA 0.05%, 
										|monto de apertura de cuenta S/ 1,000.00, periodo de permanencia 12 meses, TREA 0.05%, asumiendo que en todo el periodo no existan transacciones adicionales a la apertura de cuenta (como retiro). El saldo mínimo de equilibrio es de S/ 0.00. Es decir, si mantienes un monto mayor, tu dinero crecerá. No incluye ITF. 

									p 
										strong Dólares: TEA 0.03%, 
										|monto de apertura de cuenta US$ 1,000.00, periodo de permanencia 12 meses, TREA 0.03%, asumiendo que en todo el periodo no existan transacciones adicionales a la apertura de cuenta (como retiros). El saldo mínimo de equilibrio es de US$ 0.00. Es decir, si mantienes un monto mayor, tu dinero crecerá. No incluye ITF.

									br
									br
									br
									br









					.lq-btn-group.lq-btn-group-b.lq-clearfix
						button.lq-button.lq-button--small.lq-bind-accept-legal.disabled.lq-send-form(type="button") Aceptar
							i
						a.lq-button.lq-button--small.lq-button--darker.lq_open_lightbox(href="#") No gracias
							i

					.lq-preloader
						.loading-gif(data-form="loading")
							img(src="assets/images/loading.gif", alt="")

					.lq-legal-message 
						p.lq-legal-message__p Al aceptar estas autorizando a Interbank a crear tu Cuenta Simple.
						p.lq-legal-message__p.lq-legal-message__p--small *Te enviaremos una copia del contrato y la cartilla de información al e-mail que haz ingresado.



	include ./components/_footer.jade
	include ./components/_lightbox.jade





	

venta-digital/dist/html-10.html
<!DOCTYPE html>
<html lang="es" class="aui no-js">
  <head>
    <title>Interbank</title>
    <meta charset="utf-8">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    
    <link rel="stylesheet" href="assets/css-liferay/aui.css">
    <link rel="stylesheet" href="assets/css/jquery.jscrollpane.css">
    <link rel="stylesheet" href="assets/css/main.css?v=34">
    <link rel="stylesheet" href="assets/css/style.css?v=43">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <div class="lq-main">
      <header class="lq-header">
        <div class="lq-logo">
          <div class="lq-wrap"><img src="img/logo.png" alt="Interbank"></div>
        </div>
        <div class="lq-breadcrumb">
          <div class="lq-wrap"><i></i><a href="">Cuenta Simple</a></div>
        </div>
      </header>
      <main class="lq-content lq-content-form">
        <div class="lq-content-steps">
          <div class="lq-steps-header">
            <div class="lq-steps-header__info-cont">
              <h1 class="lq-steps-header__title-one">Completa tus datos</h1>
              <p class="lq-steps-header__p-one">y revisa las condiciones</p>
            </div>
            <div class="lq-steps-header__image-bar"></div>
          </div>
          <div class="lq-steps-position">
            <div class="lq-positions">
              <div class="lq-pos lq-pos-1 lq-pos-success">
                <div class="lq-pos__indicator">
                  <div class="lq-pos__num">
                    <div class="lq-pos__num-img">
                      <div class="lq-pos__num-digit">1</div>
                    </div>
                  </div>
                </div>
                <div class="lq-pos__txt">
                  <div class="lq-pos__line"></div>
                  <div class="lq-pos__txt-det">Regístrate</div>
                </div>
              </div>
              <div class="lq-pos lq-pos-2 lq-pos-success">
                <div class="lq-pos__indicator">
                  <div class="lq-pos__num">
                    <div class="lq-pos__num-img">
                      <div class="lq-pos__num-digit">2</div>
                    </div>
                  </div>
                </div>
                <div class="lq-pos__txt">
                  <div class="lq-pos__line"></div>
                  <div class="lq-pos__txt-det">Tómate una Foto</div>
                </div>
              </div>
              <div class="lq-pos lq-pos-3 lq-pos-current">
                <div class="lq-pos__indicator">
                  <div class="lq-pos__num">
                    <div class="lq-pos__num-img">
                      <div class="lq-pos__num-digit">3</div>
                    </div>
                  </div>
                </div>
                <div class="lq-pos__txt lq-pos__txt-alpha">
                  <div class="lq-pos__txt-det">Completa tus Datos</div>
                </div>
              </div>
            </div>
          </div>
          <div class="lq-steps-content">
            <div class="lq-form">
              <div class="lq-form__header">
                <h1 class="lq-form__title">Hola Marjorie Romero,</h1>
                <p class="lq-form__p">Faltan solo algunos datos para que tengas tu <strong class="lq-cs-blue lq-semibold">Cuenta Simple </strong><strong class="lq-cs-green lq-semibold">Interbank.</strong></p>
              </div>
              <div class="lq-form__fields lq-dinamic">
                <div class="lq-dinamic-scroll">
                  <div class="lq-dinamic-scroll__ball"></div>
                  <div class="lq-dinamic-scroll__animated-ball"></div>
                  <div class="lq-dinamic-scroll__bar"></div>
                </div>
                <form action="http://interbank.com.pe/guardar" data-form="validate" data-captcha="false" class="lq-form-template lq-validate-form lq-dinamic__form">
                  <div class="lq-form-template__fields-group">
                    <div class="lq-form-template__fields-group-title"><span>Datos personales</span></div>
                    <div class="lq-form-template__row lq-dinamic__ref"><span class="lq-form-template__green-line"></span>
                      <input type="text" name="correo" id="correo" placeholder="Correo" data-error="correo" data-form="rule" data-alpha="email" maxlength="200" value="mariaelena@gmail.com" class="lq-form-template__field"><span class="form_error_message form_error_message_correo"></span>
                    </div>
                    <div class="lq-form-template__row lq-dinamic__ref"><span class="lq-form-template__green-line"></span>
                      <input type="text" name="correo_val" id="correo_val" placeholder="Confirma tu correo electrónico" data-error="correo_val" data-form="rule" data-alpha="email" maxlength="200" class="lq-form-template__field"><span class="form_error_message form_error_message_correo_val"></span>
                    </div>
                    <div class="lq-form-template__row lq-dinamic__ref"><span class="lq-form-template__green-line"></span>
                      <input type="text" name="direccion" id="direccion" placeholder="Dirección" data-error="direccion" data-form="rule" data-alpha="alphanumeric" maxlength="200" class="lq-form-template__field"><span class="form_error_message form_error_message_direccion"></span>
                    </div>
                    <div class="lq-form-template__row lq-dinamic__ref">
                      <div class="lq-form-template__cols lq-clearfix">
                        <div class="lq-form-template__col lq-form-template__col40"><span class="lq-form-template__green-line"></span>
                          <select name="idDepartamento" id="idDepartamento" data-error="idDepartamento" data-form="rule" class="lq-form-template__field">
                            <option value="" disabled="" selected="">Departamento</option>
                            <option value="01">Lima</option>
                            <option value="02">Junin</option>
                          </select><span class="form_error_message form_error_message_idDepartamento"></span>
                        </div>
                        <div class="lq-form-template__col lq-form-template__col30">
                          <select name="idProvincia" id="idProvincia" data-error="idProvincia" data-form="rule" class="lq-form-template__field">
                            <option value="" disabled="" selected="">Provincia</option>
                            <option value="enero">Lima</option>
                            <option value="febreri">Arequipa</option>
                          </select><span class="form_error_message form_error_message_idProvincia"></span>
                        </div>
                        <div class="lq-form-template__col lq-form-template__col30">
                          <select name="idDistrito" id="idDistrito" data-error="idDistrito" data-form="rule" class="lq-form-template__field">
                            <option value="" disabled="" selected="">Distrito</option>
                            <option value="1980">Barranco</option>
                            <option value="1981">San Isidro</option>
                          </select><span class="form_error_message form_error_message_idDistrito"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="lq-form-template__fields-group">
                    <div class="lq-form-template__row lq-dinamic__ref">
                      <label class="lq-form-template__label">Fecha de nacimiento</label>
                      <div class="lq-form-template__cols lq-clearfix">
                        <div class="lq-form-template__col lq-form-template__col30"><span class="lq-form-template__green-line"></span>
                          <select name="day" id="day" data-error="day" data-form="rule" class="lq-form-template__field">
                            <option value="" disabled="" selected="">Día</option>
                            <option value="01">01
                            </option>
                            <option value="02">02
                            </option>
                            <option value="03">03
                            </option>
                            <option value="04">04
                            </option>
                            <option value="05">05
                            </option>
                            <option value="06">06
                            </option>
                            <option value="07">07
                            </option>
                            <option value="08">08
                            </option>
                            <option value="09">09
                            </option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                          </select><span class="form_error_message form_error_message_day"></span>
                        </div>
                        <div class="lq-form-template__col lq-form-template__col40">
                          <select name="month" id="month" data-error="month" data-form="rule" class="lq-form-template__field">
                            <option value="" disabled="" selected="">Mes</option>
                            <option value="01">Enero</option>
                            <option value="02">Febrero</option>
                            <option value="03">Marzo</option>
                            <option value="04">Abril</option>
                            <option value="05">Mayo</option>
                            <option value="06">Junio</option>
                            <option value="07">Julio</option>
                            <option value="08">Agosto</option>
                            <option value="09">Setiembre</option>
                            <option value="10">Octubre</option>
                            <option value="11">Noviembre</option>
                            <option value="12">Diciembre</option>
                          </select><span class="form_error_message form_error_message_month"></span>
                        </div>
                        <div class="lq-form-template__col lq-form-template__col30">
                          <select name="year" id="year" data-error="year" data-form="rule" class="lq-form-template__field">
                            <option value="" disabled="" selected="">Año</option>
                            <option value="1980">1980</option>
                            <option value="1981">1981</option>
                            <option value="1982">1982</option>
                            <option value="1983">1983</option>
                            <option value="1984">1984</option>
                            <option value="1985">1985</option>
                            <option value="1986">1986</option>
                            <option value="1987">1987</option>
                            <option value="1988">1988</option>
                            <option value="1989">1989</option>
                            <option value="1990">1990</option>
                            <option value="1991">1991</option>
                            <option value="1992">1992</option>
                            <option value="1993">1993</option>
                            <option value="1994">1994</option>
                            <option value="1995">1995</option>
                            <option value="1996">1996</option>
                            <option value="1997">1997</option>
                            <option value="1998">1998</option>
                            <option value="1999">1999</option>
                          </select><span class="form_error_message form_error_message_year"></span>
                        </div>
                        <div class="lq-hide-field">
                          <input type="text" name="fechaOculta" id="fechaOculta" data-error="fechaOculta" data-form="rule" value="0">
                        </div><span class="form_error_message form_error_message_fechaOculta"></span>
                      </div>
                    </div>
                    <div class="lq-form-template__row lq-dinamic__ref">
                      <div class="lq-form-template__cols lq-clearfix">
                        <div class="lq-form-template__col lq-form-template__col50"><span class="lq-form-template__green-line"></span>
                          <select id="sexo" name="sexo" data-error="sexo" data-form="rule" class="lq-form-template__field">
                            <option value="" disabled="" selected="">Sexo</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                          </select><span class="form_error_message form_error_message_sexo"></span>
                        </div>
                        <div class="lq-form-template__col lq-form-template__col50">
                          <input id="descEstadoCivil" type="hidden" name="descEstadoCivil">
                          <select id="estadocivil" name="estadocivil" data-error="estadocivil" data-form="rule" class="lq-form-template__field">
                            <option value="" disabled="" selected="">Estado Civil</option>
                            <option value="1">Soltero</option>
                            <option value="2">Casado</option>
                            <option value="3">Divorciado</option>
                            <option value="4">Viudo</option>
                          </select><span class="form_error_message form_error_message_estadocivil"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="lq-form-template__fields-group">
                    <div class="lq-form-template__fields-group-title"><span>Datos laborales</span></div>
                    <div class="lq-form-template__row lq-dinamic__ref"><span class="lq-form-template__green-line"></span>
                      <input type="text" name="ocupacion" id="ocupacion" placeholder="Ocupación" data-error="ocupacion" data-form="rule" data-alpha="text" maxlength="200" class="lq-form-template__field"><span class="form_error_message form_error_message_ocupacion"></span>
                    </div>
                    <div class="lq-form-template__row lq-dinamic__ref"><span class="lq-form-template__green-line"></span>
                      <input type="text" name="empresa" id="empresa" placeholder="Empresa en la que trabajas" data-error="empresa" data-alpha="alphanumeric" maxlength="100" class="lq-form-template__field"><span class="form_error_message form_error_message_empresa"></span>
                    </div>
                  </div>
                  <div class="lq-form-template__fields-group">
                    <div class="lq-form-template__fields-group-title"><span>Moneda</span></div>
                    <div class="lq-form-template__row lq-dinamic__ref">
                      <label class="lq-form-template__label">¿En qué moneda quieres aperturar tu cuenta?</label>
                      <div class="lq-form-template__cols lq-clearfix"><span class="lq-form-template__green-line"></span><span class="lq-form-template__select-arrow"></span>
                        <select name="moneda" id="moneda" data-error="moneda" data-form="rule" class="lq-form-template__field">
                          <option value="" disabled="" selected="">Selecciona la moneda</option>
                          <option value="soles">Soles</option>
                          <option value="dolares">Dólares</option>
                        </select><span class="form_error_message form_error_message_moneda"></span>
                      </div>
                    </div>
                  </div>
                  <div class="lq-form-template__row">
                    <button type="button" data-form="submit" class="lq-button lq-button--small lq-send-form-02">Ver términos y condiciones<i></i></button>
                    <div data-form="loading" class="loading-gif"><img src="assets/images/loading.gif" alt=""></div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </main>
      <div class="lq-content-contrac-wrapper">
        <main class="lq-content lq-content-contract">
          <div class="lq-content-steps">
            <div class="lq-steps-header">
              <div class="lq-steps-header__info-cont">
                <h1 class="lq-steps-header__title-one">Revisa las condiciones</h1>
                <p class="lq-steps-header__p-one">y crea tu cuenta</p>
              </div>
              <div class="lq-steps-header__image-bar"></div>
            </div>
            <div class="lq-steps-position">
              <div class="lq-positions">
                <div class="lq-pos lq-pos-1 lq-pos-success">
                  <div class="lq-pos__indicator">
                    <div class="lq-pos__num">
                      <div class="lq-pos__num-img">
                        <div class="lq-pos__num-digit">1</div>
                      </div>
                    </div>
                  </div>
                  <div class="lq-pos__txt">
                    <div class="lq-pos__line"></div>
                    <div class="lq-pos__txt-det">Regístrate</div>
                  </div>
                </div>
                <div class="lq-pos lq-pos-2 lq-pos-success">
                  <div class="lq-pos__indicator">
                    <div class="lq-pos__num">
                      <div class="lq-pos__num-img">
                        <div class="lq-pos__num-digit">2</div>
                      </div>
                    </div>
                  </div>
                  <div class="lq-pos__txt">
                    <div class="lq-pos__line"></div>
                    <div class="lq-pos__txt-det">Tómate una Foto</div>
                  </div>
                </div>
                <div class="lq-pos lq-pos-3 lq-pos-current">
                  <div class="lq-pos__indicator">
                    <div class="lq-pos__num">
                      <div class="lq-pos__num-img">
                        <div class="lq-pos__num-digit">3</div>
                      </div>
                    </div>
                  </div>
                  <div class="lq-pos__txt lq-pos__txt-alpha">
                    <div class="lq-pos__txt-det">Completa tus Datos</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="lq-steps-content lq-steps-content-legal">
              <div class="lq-legal-title">Por favor revisa los Términos y condiciones de tu <strong class="s-a">Cuenta Simple </strong><strong class="s-b">Interbank.</strong></div>
              <div class="lq-legal">
                <div class="lq-legal__scroll-container scroll-pane">
                  <div class="lq-legal__content">
                    <article>
                      <h2>Términos y condiciones Cuenta Simple</h2>
                      <p>
                        1.- El Cliente podrá adquirir y/o contratar diferentes productos y servicios financieros a través de los canales que Interbank ponga a su disposición.<br>
                        2.- El Cliente manifiesta su aceptación a través de un clic, la clave secreta, clave dinámica y/o cualquier otro medio de autenticación que complemente y/o reemplace dichas claves, así como de mecanismos que impliquen la manifestación de voluntad de aceptación del Cliente. <br>
                        3.- El Cliente entiende que el proceso y/o los mecanismos de aceptación establecidos por Interbank en el presente canal virtual, han sido claros y le han permitido manifestar su aceptación voluntaria, libre y expresa, habiendo podido despejar las dudas que hubiera podido tener.<br>
                        4.- El Cliente declara haber tomado conocimiento de las principales características comerciales del producto Cuenta Simple, así como del proceso de ofrecimiento del mismo, el cual ha sido presentado a través de los canales de Interbank; el cual implica además, el recojo físico de la Tarjeta de Débito Interbank en la red de tiendas Interbank a nivel nacional.<br>
                        5.- El Cliente confirma su voluntad de recibir el Contrato de Depósitos para Persona Natural y la Cartilla de Información Cuenta Simple al correo electrónico registrado al momento de iniciar este proceso de compra digital.<br>
                        6.- El Cliente conoce su obligación de mantener actualizados sus datos personales.<br>
                        
                      </p>
                      <h2>Beneficios y condiciones</h2>
                      <ul>
                        <li>Por ventanilla: 2 depósitos y 1 retiro</li>
                        <li>Por cajeros Global Net: 2 retiros </li>
                        <li>Por cajeros Plus Global Net: 2 retiros y depósitos ilimitados </li>
                        <li>La Cuenta Simple está sujeta a una comisión interplaza del 0.50% por operación. La comisión interplaza se aplica cuando realizas transacciones fuera de la provincia donde abriste la cuenta.</li>
                        <li>Por operación adicional en ventanilla se cobrará S/.8 / $3 y por operación adicional en cajeros Global Net S/.2 / $0.70.</li>
                        <li>Por Interbank Agente depósitos y retiros ilimitados. </li>
                        <li>No necesita monto mínimo de apertura. </li>
                        <li>Además, no le cobra mantenimiento.</li>
                      </ul>
                      <h2>Beneficios y condiciones</h2>
                      <p> <strong>Soles: TEA 0.05%, </strong>monto de apertura de cuenta S/ 1,000.00, periodo de permanencia 12 meses, TREA 0.05%, asumiendo que en todo el periodo no existan transacciones adicionales a la apertura de cuenta (como retiro). El saldo mínimo de equilibrio es de S/ 0.00. Es decir, si mantienes un monto mayor, tu dinero crecerá. No incluye ITF. </p>
                      <p> <strong>Dólares: TEA 0.03%, </strong>monto de apertura de cuenta US$ 1,000.00, periodo de permanencia 12 meses, TREA 0.03%, asumiendo que en todo el periodo no existan transacciones adicionales a la apertura de cuenta (como retiros). El saldo mínimo de equilibrio es de US$ 0.00. Es decir, si mantienes un monto mayor, tu dinero crecerá. No incluye ITF.</p><br><br><br><br>
                    </article>
                  </div>
                </div>
              </div>
              <div class="lq-btn-group lq-btn-group-b lq-clearfix">
                <button type="button" class="lq-button lq-button--small lq-bind-accept-legal disabled lq-send-form">Aceptar<i></i></button><a href="#" class="lq-button lq-button--small lq-button--darker lq_open_lightbox">No gracias<i></i></a>
              </div>
              <div class="lq-preloader">
                <div data-form="loading" class="loading-gif"><img src="assets/images/loading.gif" alt=""></div>
              </div>
              <div class="lq-legal-message"> 
                <p class="lq-legal-message__p">Al aceptar estas autorizando a Interbank a crear tu Cuenta Simple.</p>
                <p class="lq-legal-message__p lq-legal-message__p--small">*Te enviaremos una copia del contrato y la cartilla de información al e-mail que haz ingresado.</p>
              </div>
            </div>
          </div>
        </main>
      </div>
      <footer class="lq-footer">
        <div class="lq-foot">
          <div class="lq-foot-item lq-foot1">
            <div class="lq-foot-info">Si tienes dudas o consultas, contacta con nuestra banca <br>                telefónica, <strong>disponible las 24hrs.</strong></div>
          </div>
          <div class="lq-foot-item lq-foot2">
            <div class="lq-foot-info">Lima <strong>311 9000</strong></div>
          </div>
          <div class="lq-foot-item lq-foot2">
            <div class="lq-foot-info">Provincias <strong>0 801 00802</strong></div>
          </div>
        </div>
        <div class="lq-copy">
          <div class="lq-wrap">
            "La empresa tiene la obligación de difundir información de conformidad con la Ley N° 28587 y el 
            Reglamento de Transparencia de Información y Disposiciones <br>                Aplicables a la Contratación con Usuarios del Sistema Financiero, aprobado mediante Resolución SBS N° 8181-2012."<br>                © Copyright 2013 - Todos los derechos reservados
          </div>
        </div>
      </footer>
      <div class="lq-lightbox">
        <div class="lq-lightbox__layer"></div>
        <div class="lq-lightbox__content">
          <div class="lq-cancel-terms-popup">
            <div class="lq-terms-popup__01">¿Estás seguro que deseas salir del proceso?</div>
            <div class="lq-terms-popup__02">Al no aceptar los Términos y Condiciones estarás abandonando el proceso sin crear la cuenta</div>
            <div class="lq-terms-popup__buttons lq-btn-group lq-clearfix"><a href="#" class="lq-button lq-button--small lq-button--i-left lq-button-a lq_close_lightbox"><i></i>Regresar</a><a href="#" class="lq-button lq-button--small lq-button-b lq-button--darker">Sí, estoy seguro<i></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <script src="assets/js/jquery-1.12.0.min.js"></script>
    <script src="assets/js/jquery.validate.js"></script>
    <script src="assets/js/jquery.alphanumeric.pack.js"></script>
    <script src="assets/js/jquery.jscrollpane.min.js"></script>
    <script src="assets/js/jquery.mousewheel.js"></script>
    <script src="assets/js/moment.min.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="assets/js/init.js?v=43"></script>
  </body>
</html>
