venta-digital-b/src/jade/html-17.jade
extends _layout.jade
block content
	include ./components/_header.jade
	main.lq-content
		.lq-content-steps
			.lq-steps-header
				.lq-steps-header__info-cont
					h1.lq-steps-header__title-one Responde
					p.lq-steps-header__p-one estas preguntas
				.lq-steps-header__image-bar

			.lq-steps-position
				.lq-positions
					.lq-pos.lq-pos-1.lq-pos-success
						.lq-pos__indicator
							.lq-pos__num
								.lq-pos__num-img
									.lq-pos__num-digit 1
						.lq-pos__txt
							.lq-pos__line
							.lq-pos__txt-det Regístrate
					.lq-pos.lq-pos-2.lq-pos-success
						.lq-pos__indicator
							.lq-pos__num
								.lq-pos__num-img
									.lq-pos__num-digit 2
						.lq-pos__txt
							.lq-pos__line
							.lq-pos__txt-det Tómate una Foto
					.lq-pos.lq-pos-3.lq-pos-current
						.lq-pos__indicator
							.lq-pos__num
								.lq-pos__num-img
									.lq-pos__num-digit 3
						.lq-pos__txt.lq-pos__txt-alpha
							.lq-pos__txt-det Completa tus Datos

										

			.lq-steps-content
				.title-59679
					|Hola Marjorie Romero,
				.title-86767
					|Responde las siguientes preguntas para verificar tu identidad

				.lq-faq-container
					.lq-faq-container__content

						.lq-question-item


							.lq-question-item__question
								.lq-question-item__question-txt
									span.lq-question-item__question-txt-num 1. 
									|¿Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod t?
								.lq-question-item__options

									.lq-question-item__answer
										.lq-question-item__answer-wrap
											label.lq-question-item__answer-lbl()
												input.lq-question-item__answer-input(type="radio", name="")
												|Respuesta 1 Respuesta 1 Respuesta 1


									.lq-question-item__answer
										.lq-question-item__answer-wrap
											label.lq-question-item__answer-lbl()
												input.lq-question-item__answer-input(type="radio", name="")
												|Respuesta 1 Respuesta 1 Respuesta 1


									.lq-question-item__answer
										.lq-question-item__answer-wrap
											label.lq-question-item__answer-lbl()
												input.lq-question-item__answer-input(type="radio", name="")
												|Respuesta 1 Respuesta 1 Respuesta 1



							
							.lq-question-item__question
								.lq-question-item__question-txt
									span.lq-question-item__question-txt-num 2. 
									|¿Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod adipisicing elit, sed do eiusmod?
								.lq-question-item__options

									.lq-question-item__answer
										.lq-question-item__answer-wrap
											label.lq-question-item__answer-lbl()
												input.lq-question-item__answer-input(type="radio", name="")
												|Consectetur adipisicing elit, sed do eiusmod adipisicin consectetur adipisicing elit, sed do eiusmod adipisicing elit, sed do eiusmod

									.lq-question-item__answer
										.lq-question-item__answer-wrap
											label.lq-question-item__answer-lbl()
												input.lq-question-item__answer-input(type="radio", name="")
												|Cono eiusmod adipisicing el sectetur adipisicing elit, sed d

									.lq-question-item__answer
										.lq-question-item__answer-wrap
											label.lq-question-item__answer-lbl()
												input.lq-question-item__answer-input(type="radio", name="")
												|Do eiusmectetur adipisicing elit, smod adipisicing eli


							
							.lq-question-item__question
								.lq-question-item__question-txt
									span.lq-question-item__question-txt-num 3. 
									|¿Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod t?
								.lq-question-item__options

									.lq-question-item__answer
										.lq-question-item__answer-wrap
											label.lq-question-item__answer-lbl()
												input.lq-question-item__answer-input(type="radio", name="")
												|Respuesta 1

									.lq-question-item__answer
										.lq-question-item__answer-wrap
											label.lq-question-item__answer-lbl()
												input.lq-question-item__answer-input(type="radio", name="")
												|Respuesta 2

									.lq-question-item__answer
										.lq-question-item__answer-wrap
											label.lq-question-item__answer-lbl()
												input.lq-question-item__answer-input(type="radio", name="")
												|Respuesta 3
											
									
							.lq-question-item__question
								.lq-question-item__question-txt
									span.lq-question-item__question-txt-num 4. 
									|¿Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod adipisicing elit, sed do eiusmod?
								.lq-question-item__options

								
									.lq-question-item__answer
										.lq-question-item__answer-wrap
											label.lq-question-item__answer-lbl()
												input.lq-question-item__answer-input(type="radio", name="")
												|Cono eiusmod adipisicing el sectetur adipisicing elit, sed d

									.lq-question-item__answer
										.lq-question-item__answer-wrap
											label.lq-question-item__answer-lbl()
												input.lq-question-item__answer-input(type="radio", name="")
												|Do eiusmectetur adipisicing elit, smod adipisicing eli
									.lq-question-item__answer
										.lq-question-item__answer-wrap
											label.lq-question-item__answer-lbl()
												input.lq-question-item__answer-input(type="radio", name="")
												|Consectetur adipisicing elit, sed do eiusmod adipisicin consectetur adipisicing elit, sed do eiusmod adipisicing elit, sed do eiusmod

						


				.lq-btn-grp-394867349
					a.lq-btn.lq-btn--one(href="") Siguiente



	include ./components/_footer.jade

venta-digital-b/dist/html-17.html
<!DOCTYPE html>
<html lang="es" class="aui no-js">
  <head>
    <title>Interbank</title>
    <meta charset="utf-8">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    
    <link rel="stylesheet" href="assets/css-liferay/aui.css">
    <link rel="stylesheet" href="assets/css/jquery.jscrollpane.css">
    <link rel="stylesheet" href="assets/css/main.css?v=46456">
    <link rel="stylesheet" href="assets/css/style.css?v=6566">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <div class="lq-main">
      <header class="lq-header">
        <div class="lq-logo">
          <div class="lq-wrap"><img src="img/logo.png" alt="Interbank"></div>
        </div>
        <div class="lq-breadcrumb">
          <div class="lq-wrap"><i></i><a href="">Cuenta Simple</a></div>
        </div>
      </header>
      <main class="lq-content">
        <div class="lq-content-steps">
          <div class="lq-steps-header">
            <div class="lq-steps-header__info-cont">
              <h1 class="lq-steps-header__title-one">Responde</h1>
              <p class="lq-steps-header__p-one">estas preguntas</p>
            </div>
            <div class="lq-steps-header__image-bar"></div>
          </div>
          <div class="lq-steps-position">
            <div class="lq-positions">
              <div class="lq-pos lq-pos-1 lq-pos-success">
                <div class="lq-pos__indicator">
                  <div class="lq-pos__num">
                    <div class="lq-pos__num-img">
                      <div class="lq-pos__num-digit">1</div>
                    </div>
                  </div>
                </div>
                <div class="lq-pos__txt">
                  <div class="lq-pos__line"></div>
                  <div class="lq-pos__txt-det">Regístrate</div>
                </div>
              </div>
              <div class="lq-pos lq-pos-2 lq-pos-success">
                <div class="lq-pos__indicator">
                  <div class="lq-pos__num">
                    <div class="lq-pos__num-img">
                      <div class="lq-pos__num-digit">2</div>
                    </div>
                  </div>
                </div>
                <div class="lq-pos__txt">
                  <div class="lq-pos__line"></div>
                  <div class="lq-pos__txt-det">Tómate una Foto</div>
                </div>
              </div>
              <div class="lq-pos lq-pos-3 lq-pos-current">
                <div class="lq-pos__indicator">
                  <div class="lq-pos__num">
                    <div class="lq-pos__num-img">
                      <div class="lq-pos__num-digit">3</div>
                    </div>
                  </div>
                </div>
                <div class="lq-pos__txt lq-pos__txt-alpha">
                  <div class="lq-pos__txt-det">Completa tus Datos</div>
                </div>
              </div>
            </div>
          </div>
          <div class="lq-steps-content">
            <div class="title-59679">Hola Marjorie Romero,</div>
            <div class="title-86767">Responde las siguientes preguntas para verificar tu identidad</div>
            <div class="lq-faq-container">
              <div class="lq-faq-container__content">
                <div class="lq-question-item">
                  <div class="lq-question-item__question">
                    <div class="lq-question-item__question-txt"><span class="lq-question-item__question-txt-num">1. </span>¿Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod t?</div>
                    <div class="lq-question-item__options">
                      <div class="lq-question-item__answer">
                        <div class="lq-question-item__answer-wrap">
                          <label class="lq-question-item__answer-lbl">
                            <input type="radio" name="" class="lq-question-item__answer-input">Respuesta 1 Respuesta 1 Respuesta 1
                          </label>
                        </div>
                      </div>
                      <div class="lq-question-item__answer">
                        <div class="lq-question-item__answer-wrap">
                          <label class="lq-question-item__answer-lbl">
                            <input type="radio" name="" class="lq-question-item__answer-input">Respuesta 1 Respuesta 1 Respuesta 1
                          </label>
                        </div>
                      </div>
                      <div class="lq-question-item__answer">
                        <div class="lq-question-item__answer-wrap">
                          <label class="lq-question-item__answer-lbl">
                            <input type="radio" name="" class="lq-question-item__answer-input">Respuesta 1 Respuesta 1 Respuesta 1
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="lq-question-item__question">
                    <div class="lq-question-item__question-txt"><span class="lq-question-item__question-txt-num">2. </span>¿Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod adipisicing elit, sed do eiusmod?</div>
                    <div class="lq-question-item__options">
                      <div class="lq-question-item__answer">
                        <div class="lq-question-item__answer-wrap">
                          <label class="lq-question-item__answer-lbl">
                            <input type="radio" name="" class="lq-question-item__answer-input">Consectetur adipisicing elit, sed do eiusmod adipisicin consectetur adipisicing elit, sed do eiusmod adipisicing elit, sed do eiusmod
                          </label>
                        </div>
                      </div>
                      <div class="lq-question-item__answer">
                        <div class="lq-question-item__answer-wrap">
                          <label class="lq-question-item__answer-lbl">
                            <input type="radio" name="" class="lq-question-item__answer-input">Cono eiusmod adipisicing el sectetur adipisicing elit, sed d
                          </label>
                        </div>
                      </div>
                      <div class="lq-question-item__answer">
                        <div class="lq-question-item__answer-wrap">
                          <label class="lq-question-item__answer-lbl">
                            <input type="radio" name="" class="lq-question-item__answer-input">Do eiusmectetur adipisicing elit, smod adipisicing eli
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="lq-question-item__question">
                    <div class="lq-question-item__question-txt"><span class="lq-question-item__question-txt-num">3. </span>¿Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod t?</div>
                    <div class="lq-question-item__options">
                      <div class="lq-question-item__answer">
                        <div class="lq-question-item__answer-wrap">
                          <label class="lq-question-item__answer-lbl">
                            <input type="radio" name="" class="lq-question-item__answer-input">Respuesta 1
                          </label>
                        </div>
                      </div>
                      <div class="lq-question-item__answer">
                        <div class="lq-question-item__answer-wrap">
                          <label class="lq-question-item__answer-lbl">
                            <input type="radio" name="" class="lq-question-item__answer-input">Respuesta 2
                          </label>
                        </div>
                      </div>
                      <div class="lq-question-item__answer">
                        <div class="lq-question-item__answer-wrap">
                          <label class="lq-question-item__answer-lbl">
                            <input type="radio" name="" class="lq-question-item__answer-input">Respuesta 3
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="lq-question-item__question">
                    <div class="lq-question-item__question-txt"><span class="lq-question-item__question-txt-num">4. </span>¿Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod adipisicing elit, sed do eiusmod?</div>
                    <div class="lq-question-item__options">
                      <div class="lq-question-item__answer">
                        <div class="lq-question-item__answer-wrap">
                          <label class="lq-question-item__answer-lbl">
                            <input type="radio" name="" class="lq-question-item__answer-input">Cono eiusmod adipisicing el sectetur adipisicing elit, sed d
                          </label>
                        </div>
                      </div>
                      <div class="lq-question-item__answer">
                        <div class="lq-question-item__answer-wrap">
                          <label class="lq-question-item__answer-lbl">
                            <input type="radio" name="" class="lq-question-item__answer-input">Do eiusmectetur adipisicing elit, smod adipisicing eli
                          </label>
                        </div>
                      </div>
                      <div class="lq-question-item__answer">
                        <div class="lq-question-item__answer-wrap">
                          <label class="lq-question-item__answer-lbl">
                            <input type="radio" name="" class="lq-question-item__answer-input">Consectetur adipisicing elit, sed do eiusmod adipisicin consectetur adipisicing elit, sed do eiusmod adipisicing elit, sed do eiusmod
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="lq-btn-grp-394867349"><a href="" class="lq-btn lq-btn--one">Siguiente</a></div>
          </div>
        </div>
      </main>
      <footer class="lq-footer">
        <div class="lq-foot">
          <div class="lq-foot-item lq-foot1">
            <div class="lq-foot-info">Si tienes dudas o consultas, contacta con nuestra banca <br>                telefónica, <strong>disponible las 24hrs.</strong></div>
          </div>
          <div class="lq-foot-item lq-foot2">
            <div class="lq-foot-info">Lima <strong>311 9000</strong></div>
          </div>
          <div class="lq-foot-item lq-foot2">
            <div class="lq-foot-info">Provincias <strong>0 801 00802</strong></div>
          </div>
        </div>
        <div class="lq-copy">
          <div class="lq-wrap">
            "La empresa tiene la obligación de difundir información de conformidad con la Ley N° 28587 y el 
            Reglamento de Transparencia de Información y Disposiciones <br>                Aplicables a la Contratación con Usuarios del Sistema Financiero, aprobado mediante Resolución SBS N° 8181-2012."<br>                © Copyright 2013 - Todos los derechos reservados
          </div>
        </div>
      </footer>
    </div>
    <script src="assets/js/jquery-1.12.0.min.js"></script>
    <script src="assets/js/jquery.validate.js"></script>
    <script src="assets/js/jquery.alphanumeric.pack.js"></script>
    <script src="assets/js/jquery.jscrollpane.min.js"></script>
    <script src="assets/js/jquery.mousewheel.js"></script>
    <script src="assets/js/moment.min.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="assets/js/init.js?v=4534534"></script>
  </body>
</html>
