venta-digital-b/src/jade/html-14.jade
extends _layout.jade
block content
	include ./components/_header.jade
	main.lq-content
		.lq-content-steps
			.lq-steps-header
				.lq-steps-header__info-cont
					h1.lq-steps-header__title-one Tómate una Foto
					p.lq-steps-header__p-one &nbsp;
				.lq-steps-header__image-bar

			.lq-steps-content
				.html-14
					.tile-4353
						|Tienes aprobada una tarjeta<br>
						strong American Express® Gold

					img.html-14-tc(src="assets/images/tcamex.png")

					.lq-tc-beneficios
						.lq-tc-beneficios__items.clearfix
							.lq-tc-beneficios__item

								.lq-tc-beneficios__detail
									img.lq-tc-beneficios__img(src="assets/images/tc-01.png")
									p.lq-tc-beneficios__txt
										|¡Disfruta<br>con millas!

							.lq-tc-beneficios__item

								.lq-tc-beneficios__detail
									img.lq-tc-beneficios__img(src="assets/images/tc-02.png")
									p.lq-tc-beneficios__txt
										|Tus compras<br>estan aseguradas

							.lq-tc-beneficios__item

								.lq-tc-beneficios__detail
									img.lq-tc-beneficios__img(src="assets/images/tc-03.png")
									p.lq-tc-beneficios__txt
										|¡Viaja<br>seguro!


					.lq-line-0934854

					p.lq-txt-394857 ¿Quieres solicitar esta tarjeta?
					.lq-btns-group-9832.clearfix
						a.lq-button.lq-button--small(href="") Sí, quiero esta tarjeta
							i
						a.lq-button.lq-button--small.lq-button--darker(href="") No la quiero
							i





					









				


	include ./components/_footer.jade

venta-digital-b/dist/html-14.html
<!DOCTYPE html>
<html lang="es" class="aui no-js">
  <head>
    <title>Interbank</title>
    <meta charset="utf-8">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    
    <link rel="stylesheet" href="assets/css-liferay/aui.css">
    <link rel="stylesheet" href="assets/css/jquery.jscrollpane.css">
    <link rel="stylesheet" href="assets/css/main.css?v=46456">
    <link rel="stylesheet" href="assets/css/style.css?v=6566">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <div class="lq-main">
      <header class="lq-header">
        <div class="lq-logo">
          <div class="lq-wrap"><img src="img/logo.png" alt="Interbank"></div>
        </div>
        <div class="lq-breadcrumb">
          <div class="lq-wrap"><i></i><a href="">Cuenta Simple</a></div>
        </div>
      </header>
      <main class="lq-content">
        <div class="lq-content-steps">
          <div class="lq-steps-header">
            <div class="lq-steps-header__info-cont">
              <h1 class="lq-steps-header__title-one">Tómate una Foto</h1>
              <p class="lq-steps-header__p-one">&nbsp;</p>
            </div>
            <div class="lq-steps-header__image-bar"></div>
          </div>
          <div class="lq-steps-content">
            <div class="html-14">
              <div class="tile-4353">Tienes aprobada una tarjeta<br><strong>American Express® Gold</strong></div><img src="assets/images/tcamex.png" class="html-14-tc">
              <div class="lq-tc-beneficios">
                <div class="lq-tc-beneficios__items clearfix">
                  <div class="lq-tc-beneficios__item">
                    <div class="lq-tc-beneficios__detail"><img src="assets/images/tc-01.png" class="lq-tc-beneficios__img">
                      <p class="lq-tc-beneficios__txt">¡Disfruta<br>con millas!</p>
                    </div>
                  </div>
                  <div class="lq-tc-beneficios__item">
                    <div class="lq-tc-beneficios__detail"><img src="assets/images/tc-02.png" class="lq-tc-beneficios__img">
                      <p class="lq-tc-beneficios__txt">Tus compras<br>estan aseguradas</p>
                    </div>
                  </div>
                  <div class="lq-tc-beneficios__item">
                    <div class="lq-tc-beneficios__detail"><img src="assets/images/tc-03.png" class="lq-tc-beneficios__img">
                      <p class="lq-tc-beneficios__txt">¡Viaja<br>seguro!</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="lq-line-0934854"></div>
              <p class="lq-txt-394857">¿Quieres solicitar esta tarjeta?</p>
              <div class="lq-btns-group-9832 clearfix"><a href="" class="lq-button lq-button--small">Sí, quiero esta tarjeta<i></i></a><a href="" class="lq-button lq-button--small lq-button--darker">No la quiero<i></i></a></div>
            </div>
          </div>
        </div>
      </main>
      <footer class="lq-footer">
        <div class="lq-foot">
          <div class="lq-foot-item lq-foot1">
            <div class="lq-foot-info">Si tienes dudas o consultas, contacta con nuestra banca <br>                telefónica, <strong>disponible las 24hrs.</strong></div>
          </div>
          <div class="lq-foot-item lq-foot2">
            <div class="lq-foot-info">Lima <strong>311 9000</strong></div>
          </div>
          <div class="lq-foot-item lq-foot2">
            <div class="lq-foot-info">Provincias <strong>0 801 00802</strong></div>
          </div>
        </div>
        <div class="lq-copy">
          <div class="lq-wrap">
            "La empresa tiene la obligación de difundir información de conformidad con la Ley N° 28587 y el 
            Reglamento de Transparencia de Información y Disposiciones <br>                Aplicables a la Contratación con Usuarios del Sistema Financiero, aprobado mediante Resolución SBS N° 8181-2012."<br>                © Copyright 2013 - Todos los derechos reservados
          </div>
        </div>
      </footer>
    </div>
    <script src="assets/js/jquery-1.12.0.min.js"></script>
    <script src="assets/js/jquery.validate.js"></script>
    <script src="assets/js/jquery.alphanumeric.pack.js"></script>
    <script src="assets/js/jquery.jscrollpane.min.js"></script>
    <script src="assets/js/jquery.mousewheel.js"></script>
    <script src="assets/js/moment.min.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="assets/js/init.js?v=4534534"></script>
  </body>
</html>
