venta-digital-b/src/jade/html-15.jade
extends _layout.jade
block content
	include ./components/_header.jade
	main.lq-content
		.lq-content-steps
			.lq-steps-header.lq-steps-header-c2
				.lq-steps-header__info-cont
					h1.lq-steps-header__title-one Lo sentimos,
					p.lq-steps-header__p-one No podemos continuar
				.lq-steps-header__image-bar

			.lq-steps-content
				.lq-messages.lq-messages--b
					article
						img.lq-messages__icon(src="assets/images/message-icon-a.png", alt="")
						h2.lq-messages__title
							|Lo sentimos,
						p.lq-messages__p
							|en estos momentos<br>
							|no tenemos una oferta para ti.

						//- a.lq-button.i-left(href="")
							i
							|Regresar


	include ./components/_footer.jade

venta-digital-b/dist/html-15.html
<!DOCTYPE html>
<html lang="es" class="aui no-js">
  <head>
    <title>Interbank</title>
    <meta charset="utf-8">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    
    <link rel="stylesheet" href="assets/css-liferay/aui.css">
    <link rel="stylesheet" href="assets/css/jquery.jscrollpane.css">
    <link rel="stylesheet" href="assets/css/main.css?v=46456">
    <link rel="stylesheet" href="assets/css/style.css?v=6566">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <div class="lq-main">
      <header class="lq-header">
        <div class="lq-logo">
          <div class="lq-wrap"><img src="img/logo.png" alt="Interbank"></div>
        </div>
        <div class="lq-breadcrumb">
          <div class="lq-wrap"><i></i><a href="">Cuenta Simple</a></div>
        </div>
      </header>
      <main class="lq-content">
        <div class="lq-content-steps">
          <div class="lq-steps-header lq-steps-header-c2">
            <div class="lq-steps-header__info-cont">
              <h1 class="lq-steps-header__title-one">Lo sentimos,</h1>
              <p class="lq-steps-header__p-one">No podemos continuar</p>
            </div>
            <div class="lq-steps-header__image-bar"></div>
          </div>
          <div class="lq-steps-content">
            <div class="lq-messages lq-messages--b">
              <article><img src="assets/images/message-icon-a.png" alt="" class="lq-messages__icon">
                <h2 class="lq-messages__title">Lo sentimos,</h2>
                <p class="lq-messages__p">
                  en estos momentos<br>
                  no tenemos una oferta para ti.
                </p>
              </article>
            </div>
          </div>
        </div>
      </main>
      <footer class="lq-footer">
        <div class="lq-foot">
          <div class="lq-foot-item lq-foot1">
            <div class="lq-foot-info">Si tienes dudas o consultas, contacta con nuestra banca <br>                telefónica, <strong>disponible las 24hrs.</strong></div>
          </div>
          <div class="lq-foot-item lq-foot2">
            <div class="lq-foot-info">Lima <strong>311 9000</strong></div>
          </div>
          <div class="lq-foot-item lq-foot2">
            <div class="lq-foot-info">Provincias <strong>0 801 00802</strong></div>
          </div>
        </div>
        <div class="lq-copy">
          <div class="lq-wrap">
            "La empresa tiene la obligación de difundir información de conformidad con la Ley N° 28587 y el 
            Reglamento de Transparencia de Información y Disposiciones <br>                Aplicables a la Contratación con Usuarios del Sistema Financiero, aprobado mediante Resolución SBS N° 8181-2012."<br>                © Copyright 2013 - Todos los derechos reservados
          </div>
        </div>
      </footer>
    </div>
    <script src="assets/js/jquery-1.12.0.min.js"></script>
    <script src="assets/js/jquery.validate.js"></script>
    <script src="assets/js/jquery.alphanumeric.pack.js"></script>
    <script src="assets/js/jquery.jscrollpane.min.js"></script>
    <script src="assets/js/jquery.mousewheel.js"></script>
    <script src="assets/js/moment.min.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="assets/js/init.js?v=4534534"></script>
  </body>
</html>
