venta-digital-b/src/jade/html-06.jade
extends _layout.jade
block content
	include ./components/_header.jade
	main.lq-content
		.lq-content-steps
			.lq-steps-header
				.lq-steps-header__info-cont
					h1.lq-steps-header__title-one Revisa las condiciones
					p.lq-steps-header__p-one y crea tu cuenta
				.lq-steps-header__image-bar



			.lq-steps-position
				.lq-positions
					.lq-pos.lq-pos-1.lq-pos-success
						.lq-pos__indicator
							.lq-pos__num
								.lq-pos__num-img
									.lq-pos__num-digit 1
						.lq-pos__txt
							.lq-pos__line
							.lq-pos__txt-det Regístrate
					.lq-pos.lq-pos-2.lq-pos-success
						.lq-pos__indicator
							.lq-pos__num
								.lq-pos__num-img
									.lq-pos__num-digit 2
						.lq-pos__txt
							.lq-pos__line
							.lq-pos__txt-det Tómate una Foto
					.lq-pos.lq-pos-3.lq-pos-current
						.lq-pos__indicator
							.lq-pos__num
								.lq-pos__num-img
									.lq-pos__num-digit 3
						.lq-pos__txt.lq-pos__txt-alpha
							.lq-pos__txt-det Completa tus Datos


			.lq-steps-content.lq-steps-content-legal
			
				.lq-legal-title Por favor revisa los Términos y condiciones de tu 
					strong.s-a Cuenta Simple 
					strong.s-b Interbank.


				.lq-legal
					.lq-legal__scroll-container.scroll-pane
						.lq-legal__content
							article
								h2 Términos y condiciones Cuenta Simple

								p.
									1.- El Cliente podrá adquirir y/o contratar diferentes productos y servicios financieros a través de los canales que Interbank ponga a su disposición.<br>
									2.- El Cliente manifiesta su aceptación a través de un clic, la clave secreta, clave dinámica y/o cualquier otro medio de autenticación que complemente y/o reemplace dichas claves, así como de mecanismos que impliquen la manifestación de voluntad de aceptación del Cliente. <br>
									3.- El Cliente entiende que el proceso y/o los mecanismos de aceptación establecidos por Interbank en el presente canal virtual, han sido claros y le han permitido manifestar su aceptación voluntaria, libre y expresa, habiendo podido despejar las dudas que hubiera podido tener.<br>
									4.- El Cliente declara haber tomado conocimiento de las principales características comerciales del producto Cuenta Simple, así como del proceso de ofrecimiento del mismo, el cual ha sido presentado a través de los canales de Interbank; el cual implica además, el recojo físico de la Tarjeta de Débito Interbank en la red de tiendas Interbank a nivel nacional.<br>
									5.- El Cliente confirma su voluntad de recibir el Contrato de Depósitos para Persona Natural y la Cartilla de Información Cuenta Simple al correo electrónico registrado al momento de iniciar este proceso de compra digital.<br>
									6.- El Cliente conoce su obligación de mantener actualizados sus datos personales.<br>

								h2 Beneficios y condiciones
								ul
									li Por ventanilla: 2 depósitos y 1 retiro
									li Por cajeros Global Net: 2 retiros 
									li Por cajeros Plus Global Net: 2 retiros y depósitos ilimitados 
									li La Cuenta Simple está sujeta a una comisión interplaza del 0.50% por operación. La comisión interplaza se aplica cuando realizas transacciones fuera de la provincia donde abriste la cuenta.
									li Por operación adicional en ventanilla se cobrará S/.8 / $3 y por operación adicional en cajeros Global Net S/.2 / $0.70.
									li Por Interbank Agente depósitos y retiros ilimitados. 
									li No necesita monto mínimo de apertura. 
									li Además, no le cobra mantenimiento.

								h2 Beneficios y condiciones
								p 
									strong Soles: TEA 0.05%, 
									|monto de apertura de cuenta S/ 1,000.00, periodo de permanencia 12 meses, TREA 0.05%, asumiendo que en todo el periodo no existan transacciones adicionales a la apertura de cuenta (como retiro). El saldo mínimo de equilibrio es de S/ 0.00. Es decir, si mantienes un monto mayor, tu dinero crecerá. No incluye ITF. 

								p 
									strong Dólares: TEA 0.03%, 
									|monto de apertura de cuenta US$ 1,000.00, periodo de permanencia 12 meses, TREA 0.03%, asumiendo que en todo el periodo no existan transacciones adicionales a la apertura de cuenta (como retiros). El saldo mínimo de equilibrio es de US$ 0.00. Es decir, si mantienes un monto mayor, tu dinero crecerá. No incluye ITF.

								br
								br
								br
								br



				.lq-btn-group.lq-btn-group-b.lq-clearfix
					button.lq-button.lq-button--small.lq-bind-accept-legal.disabled.lq-send-form(type="button") Aceptar
						i
					a.lq-button.lq-button--small.lq-button--darker.lq_open_lightbox(href="#") No gracias
						i

				.lq-preloader
					.loading-gif(data-form="loading")
						img(src="assets/images/loading.gif", alt="")

				.lq-legal-message 
					p.lq-legal-message__p Al aceptar estas autorizando a Interbank a crear tu Cuenta Simple.
					p.lq-legal-message__p.lq-legal-message__p--small *Te enviaremos una copia del contrato y la cartilla de información al e-mail que haz ingresado.

	include ./components/_footer.jade
	include ./components/_lightbox.jade

venta-digital-b/dist/html-06.html
<!DOCTYPE html>
<html lang="es" class="aui no-js">
  <head>
    <title>Interbank</title>
    <meta charset="utf-8">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    
    <link rel="stylesheet" href="assets/css-liferay/aui.css">
    <link rel="stylesheet" href="assets/css/jquery.jscrollpane.css">
    <link rel="stylesheet" href="assets/css/main.css?v=46456">
    <link rel="stylesheet" href="assets/css/style.css?v=6566">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <div class="lq-main">
      <header class="lq-header">
        <div class="lq-logo">
          <div class="lq-wrap"><img src="img/logo.png" alt="Interbank"></div>
        </div>
        <div class="lq-breadcrumb">
          <div class="lq-wrap"><i></i><a href="">Cuenta Simple</a></div>
        </div>
      </header>
      <main class="lq-content">
        <div class="lq-content-steps">
          <div class="lq-steps-header">
            <div class="lq-steps-header__info-cont">
              <h1 class="lq-steps-header__title-one">Revisa las condiciones</h1>
              <p class="lq-steps-header__p-one">y crea tu cuenta</p>
            </div>
            <div class="lq-steps-header__image-bar"></div>
          </div>
          <div class="lq-steps-position">
            <div class="lq-positions">
              <div class="lq-pos lq-pos-1 lq-pos-success">
                <div class="lq-pos__indicator">
                  <div class="lq-pos__num">
                    <div class="lq-pos__num-img">
                      <div class="lq-pos__num-digit">1</div>
                    </div>
                  </div>
                </div>
                <div class="lq-pos__txt">
                  <div class="lq-pos__line"></div>
                  <div class="lq-pos__txt-det">Regístrate</div>
                </div>
              </div>
              <div class="lq-pos lq-pos-2 lq-pos-success">
                <div class="lq-pos__indicator">
                  <div class="lq-pos__num">
                    <div class="lq-pos__num-img">
                      <div class="lq-pos__num-digit">2</div>
                    </div>
                  </div>
                </div>
                <div class="lq-pos__txt">
                  <div class="lq-pos__line"></div>
                  <div class="lq-pos__txt-det">Tómate una Foto</div>
                </div>
              </div>
              <div class="lq-pos lq-pos-3 lq-pos-current">
                <div class="lq-pos__indicator">
                  <div class="lq-pos__num">
                    <div class="lq-pos__num-img">
                      <div class="lq-pos__num-digit">3</div>
                    </div>
                  </div>
                </div>
                <div class="lq-pos__txt lq-pos__txt-alpha">
                  <div class="lq-pos__txt-det">Completa tus Datos</div>
                </div>
              </div>
            </div>
          </div>
          <div class="lq-steps-content lq-steps-content-legal">
            <div class="lq-legal-title">Por favor revisa los Términos y condiciones de tu <strong class="s-a">Cuenta Simple </strong><strong class="s-b">Interbank.</strong></div>
            <div class="lq-legal">
              <div class="lq-legal__scroll-container scroll-pane">
                <div class="lq-legal__content">
                  <article>
                    <h2>Términos y condiciones Cuenta Simple</h2>
                    <p>
                      1.- El Cliente podrá adquirir y/o contratar diferentes productos y servicios financieros a través de los canales que Interbank ponga a su disposición.<br>
                      2.- El Cliente manifiesta su aceptación a través de un clic, la clave secreta, clave dinámica y/o cualquier otro medio de autenticación que complemente y/o reemplace dichas claves, así como de mecanismos que impliquen la manifestación de voluntad de aceptación del Cliente. <br>
                      3.- El Cliente entiende que el proceso y/o los mecanismos de aceptación establecidos por Interbank en el presente canal virtual, han sido claros y le han permitido manifestar su aceptación voluntaria, libre y expresa, habiendo podido despejar las dudas que hubiera podido tener.<br>
                      4.- El Cliente declara haber tomado conocimiento de las principales características comerciales del producto Cuenta Simple, así como del proceso de ofrecimiento del mismo, el cual ha sido presentado a través de los canales de Interbank; el cual implica además, el recojo físico de la Tarjeta de Débito Interbank en la red de tiendas Interbank a nivel nacional.<br>
                      5.- El Cliente confirma su voluntad de recibir el Contrato de Depósitos para Persona Natural y la Cartilla de Información Cuenta Simple al correo electrónico registrado al momento de iniciar este proceso de compra digital.<br>
                      6.- El Cliente conoce su obligación de mantener actualizados sus datos personales.<br>
                      
                    </p>
                    <h2>Beneficios y condiciones</h2>
                    <ul>
                      <li>Por ventanilla: 2 depósitos y 1 retiro</li>
                      <li>Por cajeros Global Net: 2 retiros </li>
                      <li>Por cajeros Plus Global Net: 2 retiros y depósitos ilimitados </li>
                      <li>La Cuenta Simple está sujeta a una comisión interplaza del 0.50% por operación. La comisión interplaza se aplica cuando realizas transacciones fuera de la provincia donde abriste la cuenta.</li>
                      <li>Por operación adicional en ventanilla se cobrará S/.8 / $3 y por operación adicional en cajeros Global Net S/.2 / $0.70.</li>
                      <li>Por Interbank Agente depósitos y retiros ilimitados. </li>
                      <li>No necesita monto mínimo de apertura. </li>
                      <li>Además, no le cobra mantenimiento.</li>
                    </ul>
                    <h2>Beneficios y condiciones</h2>
                    <p> <strong>Soles: TEA 0.05%, </strong>monto de apertura de cuenta S/ 1,000.00, periodo de permanencia 12 meses, TREA 0.05%, asumiendo que en todo el periodo no existan transacciones adicionales a la apertura de cuenta (como retiro). El saldo mínimo de equilibrio es de S/ 0.00. Es decir, si mantienes un monto mayor, tu dinero crecerá. No incluye ITF. </p>
                    <p> <strong>Dólares: TEA 0.03%, </strong>monto de apertura de cuenta US$ 1,000.00, periodo de permanencia 12 meses, TREA 0.03%, asumiendo que en todo el periodo no existan transacciones adicionales a la apertura de cuenta (como retiros). El saldo mínimo de equilibrio es de US$ 0.00. Es decir, si mantienes un monto mayor, tu dinero crecerá. No incluye ITF.</p><br><br><br><br>
                  </article>
                </div>
              </div>
            </div>
            <div class="lq-btn-group lq-btn-group-b lq-clearfix">
              <button type="button" class="lq-button lq-button--small lq-bind-accept-legal disabled lq-send-form">Aceptar<i></i></button><a href="#" class="lq-button lq-button--small lq-button--darker lq_open_lightbox">No gracias<i></i></a>
            </div>
            <div class="lq-preloader">
              <div data-form="loading" class="loading-gif"><img src="assets/images/loading.gif" alt=""></div>
            </div>
            <div class="lq-legal-message"> 
              <p class="lq-legal-message__p">Al aceptar estas autorizando a Interbank a crear tu Cuenta Simple.</p>
              <p class="lq-legal-message__p lq-legal-message__p--small">*Te enviaremos una copia del contrato y la cartilla de información al e-mail que haz ingresado.</p>
            </div>
          </div>
        </div>
      </main>
      <footer class="lq-footer">
        <div class="lq-foot">
          <div class="lq-foot-item lq-foot1">
            <div class="lq-foot-info">Si tienes dudas o consultas, contacta con nuestra banca <br>                telefónica, <strong>disponible las 24hrs.</strong></div>
          </div>
          <div class="lq-foot-item lq-foot2">
            <div class="lq-foot-info">Lima <strong>311 9000</strong></div>
          </div>
          <div class="lq-foot-item lq-foot2">
            <div class="lq-foot-info">Provincias <strong>0 801 00802</strong></div>
          </div>
        </div>
        <div class="lq-copy">
          <div class="lq-wrap">
            "La empresa tiene la obligación de difundir información de conformidad con la Ley N° 28587 y el 
            Reglamento de Transparencia de Información y Disposiciones <br>                Aplicables a la Contratación con Usuarios del Sistema Financiero, aprobado mediante Resolución SBS N° 8181-2012."<br>                © Copyright 2013 - Todos los derechos reservados
          </div>
        </div>
      </footer>
      <div class="lq-lightbox">
        <div class="lq-lightbox__layer"></div>
        <div class="lq-lightbox__content">
          <div class="lq-cancel-terms-popup">
            <div class="lq-terms-popup__01">¿Estás seguro que deseas salir del proceso?</div>
            <div class="lq-terms-popup__02">Al no aceptar los Términos y Condiciones estarás abandonando el proceso sin crear la cuenta</div>
            <div class="lq-terms-popup__buttons lq-btn-group lq-clearfix"><a href="#" class="lq-button lq-button--small lq-button--i-left lq-button-a lq_close_lightbox"><i></i>Regresar</a><a href="#" class="lq-button lq-button--small lq-button-b lq-button--darker">Sí, estoy seguro<i></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <script src="assets/js/jquery-1.12.0.min.js"></script>
    <script src="assets/js/jquery.validate.js"></script>
    <script src="assets/js/jquery.alphanumeric.pack.js"></script>
    <script src="assets/js/jquery.jscrollpane.min.js"></script>
    <script src="assets/js/jquery.mousewheel.js"></script>
    <script src="assets/js/moment.min.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="assets/js/init.js?v=4534534"></script>
  </body>
</html>
