venta-digital-b/dist/html-22.html
<!DOCTYPE html>
<html lang="es" class="aui no-js">
  <head>
    <title>Interbank</title>
    <meta charset="utf-8">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    
    <link rel="stylesheet" href="assets/css-liferay/aui.css">
    <link rel="stylesheet" href="assets/css/jquery.jscrollpane.css">
    <link rel="stylesheet" href="assets/css/main.css?v=46456">
    <link rel="stylesheet" href="assets/css/style.css?v=6566">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <div class="lq-main">
      <header class="lq-header">
        <div class="lq-logo">
          <div class="lq-wrap"><img src="img/logo.png" alt="Interbank"></div>
        </div>
        <div class="lq-breadcrumb">
          <div class="lq-wrap"><i></i><a href="">Cuenta Simple</a></div>
        </div>
      </header>
      <main class="lq-content">
        <div class="lq-content-steps">
          <div class="lq-steps-header">
            <div class="lq-steps-header__info-cont">
              <h1 class="lq-steps-header__title-one">¡Felicitaciones!</h1>
              <p class="lq-steps-header__p-one">Tienes aprobada una Tarjeta de Crédito</p>
            </div>
            <div class="lq-steps-header__image-bar"></div>
          </div>
          <div class="lq-steps-content">
            <div class="lq-html-products">
              <div class="tile-987">Tienes aprobada una tarjeta<br><strong>American Express®</strong></div><img src="assets/images/productos-amex.png" class="lq-html-products-img lq-html-products-img--58867">
              <p class="lq-txt-8987">¿Quieres solicitar alguna de estas tarjetas?</p>
              <div class="lq-btns-35687">
                <div class="lq-btns-align-left"><a href="" class="lq-btn lq-btn--one">Sí, quiero una tarjeta</a><a href="" class="lq-btn lq-btn--two">No me interesa</a></div>
              </div>
              <div class="lq-line-776"></div>
              <div class="lq-tc-beneficios">
                <div class="lq-tc-beneficios__items clearfix">
                  <div class="lq-tc-beneficios__item">
                    <div class="lq-tc-beneficios__detail"><img src="assets/images/tc-06.png" class="lq-tc-beneficios__img">
                      <p class="lq-tc-beneficios__txt">Promociones<br>exclusivas Amex</p>
                    </div>
                  </div>
                  <div class="lq-tc-beneficios__item">
                    <div class="lq-tc-beneficios__detail"><img src="assets/images/tc-02.png" class="lq-tc-beneficios__img">
                      <p class="lq-tc-beneficios__txt">Seguro Compra<br>protegida</p>
                    </div>
                  </div>
                  <div class="lq-tc-beneficios__item">
                    <div class="lq-tc-beneficios__detail"><img src="assets/images/tc-03.png" class="lq-tc-beneficios__img">
                      <p class="lq-tc-beneficios__txt">Asistente<br>en viajes</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="lq-footer">
        <div class="lq-foot">
          <div class="lq-foot-item lq-foot1">
            <div class="lq-foot-info">Si tienes dudas o consultas, contacta con nuestra banca <br>                telefónica, <strong>disponible las 24hrs.</strong></div>
          </div>
          <div class="lq-foot-item lq-foot2">
            <div class="lq-foot-info">Lima <strong>311 9000</strong></div>
          </div>
          <div class="lq-foot-item lq-foot2">
            <div class="lq-foot-info">Provincias <strong>0 801 00802</strong></div>
          </div>
        </div>
        <div class="lq-copy">
          <div class="lq-wrap">
            "La empresa tiene la obligación de difundir información de conformidad con la Ley N° 28587 y el 
            Reglamento de Transparencia de Información y Disposiciones <br>                Aplicables a la Contratación con Usuarios del Sistema Financiero, aprobado mediante Resolución SBS N° 8181-2012."<br>                © Copyright 2013 - Todos los derechos reservados
          </div>
        </div>
      </footer>
    </div>
    <script src="assets/js/jquery-1.12.0.min.js"></script>
    <script src="assets/js/jquery.validate.js"></script>
    <script src="assets/js/jquery.alphanumeric.pack.js"></script>
    <script src="assets/js/jquery.jscrollpane.min.js"></script>
    <script src="assets/js/jquery.mousewheel.js"></script>
    <script src="assets/js/moment.min.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="assets/js/init.js?v=4534534"></script>
  </body>
</html>

venta-digital-b/src/jade/html-22.jade
extends _layout.jade
block content
	include ./components/_header.jade
	main.lq-content
		.lq-content-steps
			.lq-steps-header
				.lq-steps-header__info-cont
					h1.lq-steps-header__title-one ¡Felicitaciones!
					p.lq-steps-header__p-one Tienes aprobada una Tarjeta de Crédito
				.lq-steps-header__image-bar

			.lq-steps-content
				.lq-html-products
					.tile-987
						|Tienes aprobada una tarjeta<br>
						strong American Express®

					img.lq-html-products-img.lq-html-products-img--58867(src="assets/images/productos-amex.png")



					p.lq-txt-8987 ¿Quieres solicitar alguna de estas tarjetas?

					.lq-btns-35687
						.lq-btns-align-left
							a.lq-btn.lq-btn--one(href="") Sí, quiero una tarjeta
							a.lq-btn.lq-btn--two(href="") No me interesa


					.lq-line-776


					.lq-tc-beneficios
						.lq-tc-beneficios__items.clearfix
							.lq-tc-beneficios__item

								.lq-tc-beneficios__detail
									img.lq-tc-beneficios__img(src="assets/images/tc-06.png")
									p.lq-tc-beneficios__txt
										|Promociones<br>exclusivas Amex

							.lq-tc-beneficios__item

								.lq-tc-beneficios__detail
									img.lq-tc-beneficios__img(src="assets/images/tc-02.png")
									p.lq-tc-beneficios__txt
										|Seguro Compra<br>protegida

							.lq-tc-beneficios__item

								.lq-tc-beneficios__detail
									img.lq-tc-beneficios__img(src="assets/images/tc-03.png")
									p.lq-tc-beneficios__txt
										|Asistente<br>en viajes





					









				


	include ./components/_footer.jade
